<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/metadataEntity/MetadataIdentifier"
      data-dojo-props="label:'${i18nISO19115.metadataSection.identifier}'"></div>

    <div data-dojo-type="app/gxe/types/ISO19115/gmd/metadataEntity/MetadataContact"
      data-dojo-props="label:'${i18nISO19115.metadataSection.contact}'"></div>
    
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/metadataEntity/MetadataDate"
      data-dojo-props="label:'${i18nISO19115.metadataSection.date}'"></div>
 
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/metadataEntity/MetadataStandard"
      data-dojo-props="label:'${i18nISO19115.metadataSection.standard}'"></div>
      
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/metadataEntity/MetadataReference"
      data-dojo-props="label:'${i18nISO19115.metadataSection.reference}'"></div>
    
    
  </div>
</div>