html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Avenir, Verdana, Geneva, sans-serif;
  /*
  font-family: "Avenir Next W01","Avenir Next","Avenir","Helvetica Neue","Helvetica","Arial",sans-serif;
  */
  font-size: 12px;
  line-height: 1.66667;
  color: #4c4c4c;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,
input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.geoportal-search .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 24px 0;
  border-radius: 0px;
}
.geoportal-search .pagination > li {
  display: inline;
}
.geoportal-search .pagination-sm > li:first-child > a,
.geoportal-search .pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.geoportal-search .pagination > li:first-child > a,
.geoportal-search .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.geoportal-search .pagination-sm > li > a,
.geoportal-search .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.geoportal-search .pagination > li > a,
.geoportal-search .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.5;
  text-decoration: none;
  color: #196fa6;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-left: -1px;
}
.geoportal-search .pagination > .disabled > span,
.geoportal-search .pagination > .disabled > span:hover,
.geoportal-search .pagination > .disabled > span:focus,
.geoportal-search .pagination > .disabled > a,
.geoportal-search .pagination > .disabled > a:hover,
.geoportal-search .pagination > .disabled > a:focus {
  color: #a9a9a9;
  cursor: not-allowed;
}

.geoportal-search.search-pane {
  width: 400px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.geoportal-search .loading {
  display: inline-block;
  background-image: url(images/LoadingAnimation16_Trans.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.geoportal-search .search-box {
  display: inline-block;
  /*float: right;*/
  /*
  margin: auto;
  text-align: center;
  */
}
.geoportal-search .search-box input {
  width: 200px;
  padding: 5px 10px;
}
.geoportal-search .search-box .btn-confirm {
  padding: 4px 8px;
  margin-bottom: 1px;
  line-height: 1.4;
  border: 1px solid #b7b7b7;
  background-color: #ffffff;
  cursor: pointer;
}

.geoportal-search .search-results-pane {
  margin-top: 10px;
  margin-bottom: 20px;
}

.geoportal-search .search-results {
  max-height: 400px;
  overflow-y: auto;
}

.geoportal-search .search-paging {
  /*float: right;*/
  margin: auto;
  text-align: right;
}

.geoportal-search ul.pagination {
  margin: 0;
}

.geoportal-search .item-card-inner {
  height: 70px;
  padding: 5px;
  margin-bottom: 4px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #e0e0e0;
  border-bottom-color: #e0e0e0;
  border-radius: 5px;
  background: #ffffff;
}

/*
.geoportal-search .item-card .thumbnail-div,
.geoportal-search .item-card .info-div {
  display: inline-block;
  vertical-align: top;
}
*/

.geoportal-search .item-card .thumbnail-div {
  float: left;
  margin-right: 10px;
}
.geoportal-search .item-card .thumbnail-div img {
  height: 60px;
  width: 90px;
  border: 0;
}
.geoportal-search .item-card .thumbnail-placeholder {
  background-image: url(images/placeholder_project120x80.png);
  background-repeat: no-repeat;
  background-position: center;
}

.geoportal-search .item-card .title {
  margin: 0 5px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #4c4c4c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.geoportal-search .item-card .action-bar {
  text-align: right;
}

/* ........................................................... */


/*
.jimu-widget-add-data .search-pane .search-paging .pagination {
  margin: 0;
}
.jimu-widget-add-data .search-pane .search-paging,
.jimu-widget-add-data .search-pane .search-result-count {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.jimu-widget-add-data .search-pane .pagination > li > span,
.jimu-widget-add-data .search-pane .pagination > li > span:focus,
.jimu-widget-add-data .search-pane .pagination > li > span:hover {
  color: inherit;
  border-color: transparent;
  background-color: transparent;
}
.jimu-widget-add-data .search-pane .pagination > li.current-page > span {
  padding-left: 15px;
  padding-right: 15px;
}
.jimu-widget-add-data .search-pane .pagination [class*=" esri-icon-"],
.jimu-widget-add-data .search-pane .pagination [class^="esri-icon-"] {
  position: relative;
  top: 1px;
}

.jimu-widget-add-data .search-paging,
.jimu-widget-add-data .search-result-count {
  display: inline-block;
}
.jimu-widget-add-data .search-paging ul {
  margin: 0;
  padding: 0;
}
.jimu-widget-add-data .search-paging li {
  display: inline-block;
}
.jimu-widget-add-data .search-paging li.disabled a,
.jimu-widget-add-data .search-paging li.disabled a:hover,
.jimu-widget-add-data .search-paging li.disabled a:active,
.jimu-widget-add-data .search-paging li.disabled a:focus {
  cursor: default;
  opacity: 0.35;
}

.jimu-widget-add-data .search-paging,
.jimu-widget-add-data .search-result-count {
  display: inline-block;
}
.jimu-widget-add-data .search-paging ul {
  margin: 0;
  padding: 0;
}
.jimu-widget-add-data .search-paging li {
  display: inline-block;
}
*/
