<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-attach-point="_forNetwork"
    data-dojo-props="target:'srv:operatesOn',minOccurs:0,
      preferOpen:true,label:'${i18nIso.SV_ServiceIdentification.operatesOn}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'xlink:href',label:'${i18nIso.ObjectReference.xlinkref}',value:'https://inspire.ec.europa.eu/sites/default/files/md_2.0_datasets_example.xml',fixed:true">
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'uuidref',label:'${i18nIso.ObjectReference.uuidref}',minOccurs:0">
    </div>
  </div>  
      

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-attach-point="_forInvokable"
    data-dojo-props="target:'srv:operatesOn',minOccurs:1,
      preferOpen:true,label:'${i18nIso.SV_ServiceIdentification.operatesOn}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'xlink:href',label:'${i18nIso.ObjectReference.xlinkref}',value:'https://inspire.ec.europa.eu/sites/default/files/md_2.0_datasets_example.xml',fixed:true">
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'uuidref',label:'${i18nIso.ObjectReference.uuidref}',minOccurs:0">
    </div>
  </div>  
</div>