/* jimu-widget-coordinate-setting */
.jimu-widget-legend-setting{
  margin:0;
  padding:0;
  font-size:15px;
}
.jimu-widget-legend-setting .dijitArrowButtonContainer{
  width: 17px;
}
.jimu-widget-legend-setting .dijitSelect{
  height: 30px;
  width: 100%;
}
.jimu-widget-legend-setting .setting-table > thead > tr > th,
.jimu-widget-legend-setting .setting-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
}

.jimu-widget-legend-setting .input-table > tbody > tr > .first{
  width:auto;
  text-align: right;
  padding-right:15px;
}

.jimu-rtl .jimu-widget-legend-setting .input-table > tbody > tr > .first{
  text-align: left;
  padding-left:15px;
  padding-right:15px;
}

.jimu-widget-legend-setting .input-table > tbody > tr > .second{
  width:200px;
}

.jimu-widget-legend-setting .input-table > tbody > tr > .third{
  width:35px;
}

.jimu-widget-legend-setting .layer-chooser-section{
  position: relative;
  margin-top: 20px; 
}

.jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div {
  overflow: hidden;
}

.jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div .title{
  float: left;
}

.jimu-rtl .jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div .title{
  float: right;
}

.jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div .honorWebMap{
  float: right;
}

.jimu-rtl .jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div .honorWebMap{
  float: left;
}

.jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div .honorWebMap .checkbox{
  float: right !important;
}

.jimu-rtl .jimu-widget-legend-setting .layer-chooser-section .layer-chooser-title-div .honorWebMap .checkbox{
  float: left !important;
}

.jimu-widget-legend-setting .layer-chooser-div{
  border: 1px solid #d9dde0;
  min-height: 130px;
  max-height: 410px; 
  overflow-y: auto;
  position: relative;
}

.jimu-widget-legend-setting .layer-chooser-section .refresh-button-div{
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(./images/reset.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  width: 30px;
  z-index: 1;
  cursor: pointer;
}

.jimu-rtl .jimu-widget-legend-setting .layer-chooser-section .refresh-button-div{
  left: 0;
  right: auto;
}

.jimu-widget-legend-setting .layer-chooser-section .tree-root-ul{
  border: 0px solid #d9dde0;
}

/*
.jimu-widget-legend-setting .layer-chooser-section .toggle-button-div{
  overflow: hidden;
}


.jimu-widget-legend-setting .layer-chooser-section .jimu-toggle-button{
  float: right;
}

.jimu-widget-legend-setting .layer-chooser-section .refresh-button-div{
  background-color: #009966;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}

.jimu-widget-legend-setting .layer-chooser-section .overlap{
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

.jimu-widget-legend-setting .layer-chooser-section.disable{
}

.jimu-widget-legend-setting .layer-chooser-section.disable .responisve-overlap{
  opacity: 0.5;
}

.jimu-widget-legend-setting .layer-chooser-section.disable .overlap{
  display: block;
}
*/
