<div data-dojo-attach-point="containerNode">
  
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
        <div data-dojo-type="app/gxe/types/inspire2/srv/dataQuality/AvailabilityConsistencyReport"
          data-dojo-props="label:'${i18nInspire.dataQuality.conceptualConsistency.availability}'"></div>
    
        <div data-dojo-type="app/gxe/types/inspire2/srv/dataQuality/PerformanceConsistencyReport"
          data-dojo-props="label:'${i18nInspire.dataQuality.conceptualConsistency.performance}'"></div>
    
        <div data-dojo-type="app/gxe/types/inspire2/srv/dataQuality/CapacityConsistencyReport"
          data-dojo-props="label:'${i18nInspire.dataQuality.conceptualConsistency.capacity}'"></div>
    
  </div>
  
</div>