<div data-dojo-attach-point="containerNode">
  
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
        <div data-dojo-type="app/gxe/types/inspire2/srv/dataQuality/FreeTextConformanceReport"
          data-dojo-props="label:'${i18nInspire.dataQuality.conformanceReport.freeText}'"></div>
    
        <div data-dojo-type="app/gxe/types/inspire2/srv/dataQuality/OfficialTitleConformanceReport"
          data-dojo-props="label:'${i18nInspire.dataQuality.conformanceReport.officialTitle}'"></div>
    
        <div data-dojo-type="app/gxe/types/inspire2/srv/dataQuality/ClassConformanceReport"
          data-dojo-props="label:'${i18nInspire.dataQuality.conformanceReport.conformanceClass}'"></div>
  </div>
  
</div>