<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/identification/DataRepresentation"
      data-dojo-props="label:'${i18nISO19115.identificationSection.resourceTab.representation}'"></div>

    <div data-dojo-type="app/gxe/types/ISO19115/gmd/identification/ResourceLanguage"
      data-dojo-props="label:'${i18nISO19115.identificationSection.resourceTab.language}'"></div>
      
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/identification/ResourceClassification"
      data-dojo-props="label:'${i18nISO19115.identificationSection.resourceTab.classification}'"></div>
      
    <div data-dojo-type="app/gxe/types/ISO19115/gmd/identification/ResourceExtent"
      data-dojo-props="label:'${i18nISO19115.identificationSection.resourceTab.extent}'"></div>
                            
  </div>
  
</div>