<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'cit:CI_DateTypeCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute" data-dojo-props="value:'http://standards.iso.org/iso/19115/resources/Codelist/cat/codeLists.xml#CI_DateTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.creation}',value:'creation'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.publication}',value:'publication'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.revision}',value:'revision'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.expiry}',value:'expiry'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.lastUpdate}',value:'lastUpdate'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.lastRevision}',value:'lastRevision'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.nextUpdate}',value:'nextUpdate'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.unavailable}',value:'unavailable'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.obtainable}',value:'obtainable'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.inForce}',value:'inForce'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.adopted}',value:'adopted'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.deprecated}',value:'deprecated'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.superseded}',value:'superseded'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.replaced}',value:'replaced'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.validityBegins}',value:'validityBegins'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.validityExpires}',value:'validityExpires'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.valid}',value:'valid'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.released}',value:'released'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.access}',value:'access'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.distribution}',value:'distribution'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_DateTypeCode.distributed}',value:'distributed'"></div>
        </div>
      </div>
    </div>
  </div>
</div>