<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'cit:CI_OnLineFunctionCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute" data-dojo-props="value:'http://standards.iso.org/iso/19115/resources/Codelist/cat/codeLists.xml#CI_OnLineFunctionCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.download}',value:'download'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.information}',value:'information'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.offlineAccess}',value:'offlineAccess'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.order}',value:'order'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.search}',value:'search'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.completeMetadata}',value:'completeMetadata'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.browseGraphic}',value:'browseGraphic'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.upload}',value:'upload'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.emailService}',value:'emailService'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.browsing}',value:'browsing'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_OnLineFunctionCode.fileAccess}',value:'fileAccess'"></div>
        </div>
      </div>
    </div>
  </div>
</div>