<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'cit:CI_PresentationFormCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute" data-dojo-props="value:'http://standards.iso.org/iso/19115/resources/Codelist/cat/codeLists.xml#CI_PresentationFormCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.documentDigital}',value:'documentDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.documentHardcopy}',value:'documentHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.imageDigital}',value:'imageDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.imageHardcopy}',value:'imageHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.mapDigital}',value:'mapDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.mapHardcopy}',value:'mapHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.modelDigital}',value:'modelDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.modelHardcopy}',value:'modelHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.profileDigital}',value:'profileDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.profileHardcopy}',value:'profileHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.tableDigital}',value:'tableDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.tableHardcopy}',value:'tableHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.videoDigital}',value:'videoDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.videoHardcopy}',value:'videoHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.audioDigital}',value:'audioDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.audioHardcopy}',value:'audioHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.multimediaDigital}',value:'multimediaDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.multimediaHardcopy}',value:'multimediaHardcopy'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.physicalObject}',value:'physicalObject'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.diagramDigital}',value:'diagramDigital'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_PresentationFormCode.diagramHardcopy}',value:'diagramHardcopy'"></div>
        </div>
      </div>
    </div>
  </div>
</div>