<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:CI_Series',label:''">
    
    <!-- name -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:name',minOccurs:0,maxOccurs:1,preferOpen:true,label:'${i18nIso3.CI_Series.name}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>
    
    <!-- issueIdentification -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:issueIdentification',minOccurs:0,maxOccurs:1,preferOpen:true,label:'${i18nIso3.CI_Series.issueIdentification}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>
    
    <!-- page -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:page',minOccurs:0,maxOccurs:1,preferOpen:true,label:'${i18nIso3.CI_Series.page}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>
  </div>
</div>