.jimu-rtl .jimu-widget-scalebar .scaleLabelDiv .esriScalebarLabel:first-child{
	right: -3% !important;
	left: auto !important;
};

.jimu-rtl .jimu-widget-scalebar .scaleLabelDiv .esriScalebarFirstNumber{
	right: 45% !important;
	left: auto;
}

.jimu-rtl .jimu-widget-scalebar .scaleLabelDiv .esriScalebarSecondNumber{
	right: 95%;
	left: auto;
}

.jimu-widget-scalebar .ruler-style {
  position: relative;
  top: -5px !important;
  left: 0 !important;
}