<div data-dojo-attach-point="containerNode">
  
  <!-- MD_AttributeGroup-->
  <!-- contentType MD_CoverageContentTypeCode -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:contentType',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_AttributeGroup.contentType}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mrc/MD_CoverageContentTypeCode"> </div>
  </div>

  <!-- Role name: attribute MD_RangeDimension -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:attribute',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_AttributeGroup.attribute}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mrc/MD_RangeDimension"> </div>
  </div>

</div>