<div data-dojo-attach-point="containerNode">
  
  <!-- MD_FeatureTypeInfo -->
  <!-- featureTypeName GenericName -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:featureTypeName',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureTypeInfo.featureTypeName}'">
      
  </div>

  <!-- featureInstanceCount Integer -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:featureInstanceCount',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureTypeInfo.featureInstanceCount}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Integer'">
      <div data-dojo-type="esri/dijit/metadata/form/InputNumber" data-dojo-props="minValue:0,integerOnly:true,hint:'Enter Integer Number >=0'"></div>
    </div>
  </div>



</div>