.geoportal-search-widget {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: gray;
  border-width: thin;
  padding: 5px;
}

.searchPaneWrapper {
  width: 100%;
}

.resultsPaneWrapper {
  width: 100%;
}

.resultsPane {
  width: 100%;
  overflow-y: auto;
}

.searchPane {
  width: 100%;
}

.searchPaneMain {
  display: flex;
}

.searchBoxText{
  width: 95%;
}
.searchButton {
  width: 5%;
  padding-left: 5px;
}


.result_item_card {
  padding: 5px;
  margin-bottom: 4px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #e0e0e0;
  border-bottom-color: #e0e0e0;
  border-radius: 5px;
  background: #ffffff;
}

.result_item_thumbnail {
  float: left;
  height: 60px;
  width: 90px;
  overflow: hidden;
}

.result_item_title {
  margin: 0 5px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #4c4c4c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result_item_info {
  margin-left: 5px;
  color: #898989;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result_item_description {
  margin: 0px 0px 6px 0px;
  font-size: 12px;
  box-sizing: border-box;
}

.result_action_bar {
  margin-right: 10px;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  padding: 5px 5px;
}

.result_action_zoomto {
  padding: 5px 5px;
  text-decoration: none;
  font-size: .8rem;
}

.result_action_add {
  padding: 5px 5px;
  text-decoration: none;
  font-size: .8rem;
}

.result_action_details {
  padding: 5px 5px;
  text-decoration: none;
  font-size: .8rem;
}

.result_action_message {
  padding: 5px 5px;
  font-size: 9px;
  font-style: italic;
}

.result_action_links {
  margin-top: -4px;
}

.titleStyle {
  font-size: 1.10em;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  text-align: left;
}



/* .searchButtonContainer {
  padding-left: 5px;
  padding-right: 5px;
} */

.optionsContainer {
  display: flex;
  padding-top: 5px;
}

.optionsCheckboxLabel {
  padding-left: 3px;
}

.relevanceCombo {
  width: 70px;
  height: 10px;
  font-size: 2px;
  -webkit-appearance: none;
}

.catalogsList {
  width: max-content;
}

.catalogItem {
  display: 'flex';
}

.catalogItemDetails {
  display: 'flex';
}

.catalogCount {
  margin-left: 50px;
}

/* .searchResults {
  width: 100%;
  overflow-y: scroll;
} */

.loadingOverride {
  display: block;
  margin: 0 auto;
  border-color: red;
}

.results_list {
  overflow-y: scroll;
}
