.geoportal-search-widget {
  min-height: 500px;
  min-width: 420px;
  border-style: solid;
  border-color: gray;
  border-width: thin;
  padding: 5px;
}

.titleStyle {
  font-size: 1.10em;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  text-align: left;
  /* height: 15%; */
}

.searchPaneWrapper {
  width: 100%;
  /* height: 15%; */
}

.resultsPaneWrapper {
  width: 100%;
  height: 70%;
}

.paginationWrapper {
  width: 100%;
  margin-bottom: 3px;
  margin-left: 30%;
  /* height: 15%; */
}

.resultsPane {
  width: 100%;
  overflow-y: auto;
  height: 98%;
}

.searchPane {
  width: 100%;
}

.searchPaneMain {
  display: flex;
}

.searchBoxText{
  width: 95%;
}
.searchButton {
  width: 5%;
  padding-left: 5px;
}


.result_item_card {
  padding: 5px;
  margin-bottom: 4px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #e0e0e0;
  border-bottom-color: #e0e0e0;
  border-radius: 5px;
  background: #ffffff;
}

.result_item_thumbnail {
  float: left;
  height: 60px;
  width: 90px;
  overflow: hidden;
  margin-right: 5px;
}

.result_item_title {
  margin: 0 5px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: #4c4c4c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result_item_info {
  margin-left: 5px;
  color: #898989;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result_item_description {
  margin: 0px 0px 6px 0px;
  font-size: 12px;
  box-sizing: border-box;
}

.result_action_bar {
  display: flex;
  margin-right: 10px;
  text-align: right;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  padding: 5px 5px;
}

.result_action_zoomto {
  padding: 5px 5px;
  text-decoration: none;
  font-size: .8rem;
}

.result_action_add {
  padding: 5px 5px;
  text-decoration: none;
  font-size: .8rem;
}

.result_action_details {
  padding: 5px 5px;
  text-decoration: none;
  font-size: .8rem;
}

.result_action_message {
  padding: 5px 5px;
  font-size: 9px;
  font-style: italic;
}

.result_action_links {
  margin-top: -4px;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.optionsCheckboxItem {
  padding-top: 8px;
}

.optionsCheckboxLabel {
  padding-left: 3px;
}

.arrowStyle {
  font-weight: bold;
}

.arrowButtonStyle {
  font-weight: bold;
}

.relevanceCombo {
  width: 70px;
  height: 10px;
  font-size: 2px;
  -webkit-appearance: none;
}

.catalogsList {
  padding: 0px;
  margin: 0px;
}

.catalogsDropdown {
  padding: 0.25rem;

}

.catalogItem {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.catalogItemDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
}

.catalogName {
  /* flex: auto; */
}

.catalogCount {
  /* margin-left: auto; */
  /* margin-right: 0px;
  margin-left: 50px; */
  /* width: 15rem; */
  /* margin-right: 0px;
  padding-right: 0px; */
  /* margin-left: 50px; */
}

.catalogSpacing {
  width: 50px;
}

.loadingOverride {
  display: block;
  margin: 0 auto;
  border-color: red;
}

.results_list {
  overflow-y: scroll;
}
