<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'msr:MD_CellGeometryCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_DimensionNameTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>          
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.row}',value:'row'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.column}',value:'area'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.vertical}',value:'voxel'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.track}',value:'track'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.crossTrack}',value:'crossTrack'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.line}',value:'line'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.sample}',value:'sample'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_DimensionNameTypeCode.time}',value:'time'"></div>  
        </div>
      </div>
    </div>
    
  </div>
</div>