<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target:'msr:MD_SpatialRepresentation', label:''">
 
    <!-- MD_GridSpatialRepresentation -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:MD_GridSpatialRepresentation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_SpatialRepresentation.gridSpatialRepresentation}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_GridSpatialRepresentation"></div>
    </div>

    <!--MD_Georectified -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:MD_Georectified',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_SpatialRepresentation.georectified}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_Georectified"></div>
    </div>
    
    <!-- MD_Georeferenceable -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:MD_Georeferenceable',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_SpatialRepresentation.georeferenceable}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_Georeferenceable"></div>
    </div>

    <!-- MD_VectorSpatialRepresentation -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:MD_VectorSpatialRepresentation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_SpatialRepresentation.vectorSpatialRepresentation}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_VectorSpatialRepresentation"></div>    
    </div>

    <!-- MD_Dimension -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:MD_Dimension',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_SpatialRepresentation.dimension}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_Dimension"></div>
    </div>

  </div>
</div>