<div data-dojo-attach-point="containerNode">
    <!-- topologyLevel MD_TopologyLevelCode -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:numberOfDimensions',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_VectorSpatialRepresentation.topologyLevel}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_TopologyLevelCode"> </div>

    </div>

    <!-- geometricObjects MD_GeometricObjects-->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:axisDimensionProperties',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_VectorSpatialRepresentation.geometricObjects}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_GeometricObjects"> </div>

    </div>


</div>