<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">

    <div data-dojo-type="app/gxe/types/geoplatform/gmd/citation/CI_Citation"
      data-dojo-props="label:'${i18nIso.identificationSection.citation}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceDescription"
      data-dojo-props="label:'${i18nIso.identificationSection.description}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/ResourceContact"
      data-dojo-props="label:'${i18nIso.identificationSection.contact}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceThumbnail"
      data-dojo-props="label:'${i18nIso.identificationSection.thumbnail}'"></div>

    <div data-dojo-type="app/gxe/types/geoplatform/gmd/identification/ResourceKeywords"
      data-dojo-props="label:'${i18nIso.identificationSection.keywords}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/constraints/ResourceConstraints"
      data-dojo-props="label:'${i18nIso.identificationSection.constraints}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/DataRepresentation"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.representation}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceLanguage"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.language}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceClassification"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.classification}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceExtent"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.extent}'"></div>

  </div>

</div>
