<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">

    <div data-dojo-type="app/gxe/types/geoplatform/gmd/identification/DataResourceTab"
      data-dojo-props="label:'Data'">
    </div>

    <div data-dojo-type="app/gxe/types/geoplatform/gmd/identification/LayerResourceTab"
      data-dojo-props="label:'Layer'">
    </div>

    <div data-dojo-type="app/gxe/types/geoplatform/gmd/identification/MapResourceTab"
      data-dojo-props="label:'Map'">
    </div>
  </div>
</div>
