<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gco:CharacterString'">
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:PT_FreeText',label:'Localized Strings'">
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:textGroup',minOccurs:0,maxOccurs:'unbounded'">
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:LocalisedCharacterString'">
        <div data-dojo-type="esri/dijit/metadata/form/Attribute" data-dojo-props="target:'locale'">
          <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
            <div data-dojo-type="esri/dijit/metadata/form/Options">
            
              <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'Dutch',value:'dut'"></div>              
              <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'English',value:'eng',selected:true"></div>              
              <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'German',value:'ger'"></div>              
                  
            </div>
          </div>  
        </div>
      
        <div data-dojo-type="esri/dijit/metadata/form/InputText">
        </div>
      </div>
    </div>
  </div>
</div>