<div data-dojo-attach-point="containerNode">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target:'mri:MD_DataIdentification',label:'mri:MD_DataIdentification (TO DO)'">
      <!--
       <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:MD_DataIdentification',minOccurs:0, maxOccurs:1, preferOpen:false, label:'mri:MD_DataIdentification (TO DO)'">
       -->
       <div data-dojo-type="esri/dijit/metadata/form/Tabs">
         <!-- citation -->
         <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:citation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.identificationSection.citation}'">
           <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation">
           </div>
         </div>
       
         <!-- abstract -->         
         <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:abstract',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.MD_Identification.abstract}'">
           <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
           <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
         </div>
       
        <!-- purpose -->         
        <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:purpose',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.MD_Identification.purpose}'">
         <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
         <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
       </div>
       
       <!-- credit -->       
       <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:credit',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.MD_Identification.credit}'">
         <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
         <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
       </div>
       
       <!-- status - status of the data acquisition -->
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference" data-dojo-props="target:'mri:status',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.MI_Operation.status}'">
        <div data-dojo-type="app/gxe/types/iso-19115-3/mcc/MD_ProgressCode"></div>
       </div>
       
       <!-- pointOfContact  CI_Responsibility -->
       <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:contact', minOccurs:0, maxOccurs:1, preferOpen:true, label:'${i18nIso3.CI_ResponsibleParty.caption}'">
           <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Responsibility"></div>
       </div>
 
      <!--spatialRepresentationType -->
      <!--spatialRepresentationTypeCode -->
      <div data-dojo-type="esri/dijit/metadata/form/Tabs" data-dojo-props="label:'${i18nIso3.identificationSection.resource}'">
      
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:spatialRepresentationType', label:'${i18nIso.MD_DataIdentification.spatialRepresentationType}'">
            <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:MD_SpatialRepresentationTypeCode', minOccurs:0, maxOccurs:1, preferOpen:false, label:'${i18nIso3.MD_SpatialRepresentationTypeCode.caption}'">
                 <div data-dojo-type="app/gxe/types/iso-19115-3/mcc/MD_SpatialRepresentationTypeCode"></div>
            </div>
      </div>
      <!--SpatialResolution -->
      <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target: 'mri:spatialResolution', label:'Spatial Resolution'">
              <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target: 'mri:MD_Resolution', label:'MD_Resolution'">
                <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'mri:equivalentScale', minOccurs:0, maxOccurs:1, preferOpen:false, label:'${i18nIso3.MD_Resolution.equivalentScale}'">
                <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"  data-dojo-props="target:'mri:MD_RepresentativeFraction'">
                  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:denominator', label:'${i18nIso3.MD_RepresentativeFraction.denominator}'">
                    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Integer'">
                      <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
      </div>
      
      <!-- temporalResolution TODO -->

      <!-- topicCategory -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:topicCategory',minOccurs:1,maxOccurs:'unbounded',preferOpen:false, label:'${i18nIso3.MD_TopicCategoryCode.caption}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputSelectMany" data-dojo-props="subTarget:'mri:MD_TopicCategoryCode'">
            <div data-dojo-type="esri/dijit/metadata/form/IsoTopicCategoryOptions"></div>
          </div>
      </div>
     
      <!-- extent -->
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'mri:extent',minOccurs:0,maxOccurs:'unbounded',showHeader:true,label:'${i18nIso3.EX_Extent.caption}'">
        <div data-dojo-type="app/gxe/types/iso-19115-3/gex/EX_Extent"></div>
      </div>

     </div>
     
     <!-- additionalDocumentation-->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:additionalDocumentation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.identificationSection.additionalDocumentation}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation">
      </div>
    </div>

      <!--processingLevel MD_Identifier-->
      <div data-dojo-type="app/gxe/types/iso-19115-3/mdb/metadataIdentifier" data-dojo-props="label:'${i18nIso3.MD_Metadata.metadataIdentifier}'">
      </div>

      <!-- Role name: resourceMaintenance-->
      <!-- Role name: graphicOverview -->
      <!-- Role name: descriptiveKeywords -->
      <!-- role name: resourcSpecificUsage -->
      <!-- Role name: resourceConstraints -->
      <!-- Role name: associatedResource-->

      <!-- MD_DataIdentification -->
      <!-- default Locale -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:defaultLocale',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Metadata.defaultLocale}'">
        <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale">
        </div>
      </div>
       <!-- other Locale -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:otherLocale',minOccurs:0,maxOccurs:'unbounded',preferOpen:false,label:'${i18nIso3.MD_Metadata.otherLocale}'">
        <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale" data-dojo-props="label:'PT_Locale'">
        </div>
      </div>  
     
      <!-- environmentDescription -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:environmentDescription',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.MD_DataIdentification.environmentDescription}'">
        <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
        <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
      </div>

      <!-- supplementalInformation -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:supplementalInformation',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.MD_DataIdentification.supplementalInformation}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
      </div>

       </div>
       </div>
</div>