<div data-dojo-attach-point="containerNode">
  

    <!-- keyword Free Text -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:amendmentNumber',minOccurs:0,preferOpen:false,label:'${i18nIso3.MD_Format.amendmentNumber}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
    </div>

    <!-- type MD_KeywordTypeCode -->

    <!-- thesaurusName CI_Citation -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:formatSpecificationCitation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Format.formatSpecificationCitation}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation"> </div>
    </div>

    <!--Role name: keywordClass -->
    
</div>