<div data-dojo-attach-point="containerNode">
  

    <!-- className Free Text M 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:className',minOccurs:0,preferOpen:false,label:'${i18nIso3.MD_KeywordClass.className}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
    </div>

    <!-- conceptIdentifier URI O 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:conceptIdentifier',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_KeywordClass.conceptIdentifier}'">
      
    </div>
    <!-- ontology CI_Citation M 1 -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:ontology',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_KeywordClass.ontology}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation"> </div>
    </div>

    
</div>