<div data-dojo-attach-point="containerNode">
  

    <!-- extensionOnLineResource CI_OnlineResource O N -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:amendmentNumber',minOccurs:0,maxOccurs:'unbounded',preferOpen:false,label:'${i18nIso3.MD_MetadataExtensionInformation.extensionOnLineResource}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_OnlineResource"> </div>
    </div>

    <!-- Role name extendedElementInformation MD_ExtendedElementInformation O N -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:formatSpecificationCitation',minOccurs:0,maxOccurs:'unbounded',preferOpen:false,label:'${i18nIso3.MD_MetadataExtensionInformation.extendedElementInformation}'">
        <div data-dojo-type="app/gxe/types/iso-19115-3/mri/MD_ExtendedElementInformation"> </div>
    </div>
    
</div>