<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target:'cit:CI_Party',minOccurs:0">
    <!-- name FreeText-->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:name',maxOccurs:0, minOccurs:0, label:'${i18nIso3.CI_Party.name}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_FreeText" data-dojo-props="label:'xxxx',minOccurs:0,maxOccurs:10"></div>
    </div>

    <!-- contactInfo CI_Contact-->
    <!-- CI_Contact -->
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">

      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'cit:contactInfo',minOccurs:0, label:'${i18nIso3.CI_Party.contactInfo}'">
        <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Contact"></div>
      </div>   

    </div>

    <!--
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:organisationName',minOccurs:0, label:'${i18nIso3.CI_ResponsibleParty.organisationName}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/typesiso-19115-3/lan/PT_FreeText" data-dojo-props="label:'xxxx',minOccurs:0,maxOccurs:10"></div>
    </div>
    -->
    <!-- CI_ResponsibleParty Position Name-->
    <!--
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:positionName',minOccurs:0, label:'${i18nIso3.CI_ResponsibleParty.positionName}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_FreeText" data-dojo-props="label:'xxxx',minOccurs:0,maxOccurs:10"></div>
    </div>
    -->

    
</div>

</div>
  