<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'cit:CI_RoleCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute" data-dojo-props="value:'http://standards.iso.org/iso/19115/resources/Codelist/cat/codeLists.xml#CI_RoleCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.resourceProvider}',value:'resourceProvider'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.custodian}',value:'custodian'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.owner}',value:'owner'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.user}',value:'user'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.distributor}',value:'distributor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.originator}',value:'originator'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.pointOfContact}',value:'pointOfContact'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.principalInvestigator}',value:'principalInvestigator'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.processor}',value:'processor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.publisher}',value:'publisher'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.author}',value:'author'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.sponsor}',value:'sponsor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.coAuthor}',value:'coAuthor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.collaborator}',value:'collaborator'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.editor}',value:'editor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.mediator}',value:'mediator'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.rightsHolder}',value:'rightsHolder'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.contributor}',value:'contributor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.funder}',value:'funder'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nIso3.CI_RoleCode.stakeholder}',value:'stakeholder'"></div>
        </div>
      </div>
    </div>
  </div>
</div>