<div data-dojo-attach-point="containerNode">

  <!-- metadata identifier -->
  <div data-dojo-type="app/gxe/types/iso-19115-3/mdb/metadataIdentifier" data-dojo-props="label:'mdb:metadataIdentifier'">
  </div>

  <!-- default Locale -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:defaultLocale',minOccurs:0,maxOccurs:1,preferOpen:true,label:'mdb:defaultLocale'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale" data-dojo-props="label:'PT_Locale'">
    </div>
  </div>

  <!-- parent metadata -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:parentMetadata',minOccurs:0,maxOccurs:1,preferOpen:false,label:'mdb:parentMetadata'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation" data-dojo-props="label:'CI_Citation'">
    </div>
  </div>

  <!-- contact TODO -->

  <!-- date info -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:dateInfo',minOccurs:0,maxOccurs:1,preferOpen:false,label:'mdb:dateInfo'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Date" data-dojo-props="label:'CI_Date'">
    </div>
  </div>

  <!-- metadata standard -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:metadataStandard',minOccurs:0,maxOccurs:1,preferOpen:false,label:'mdb:metadataStandard'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation" data-dojo-props="label:'CI_Citation'">
    </div>
  </div>  

  <!-- metadata profile -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:metadataProfile',minOccurs:0,maxOccurs:1,preferOpen:false,label:'mdb:metadataProfile'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation" data-dojo-props="label:'CI_Citation'">
    </div>
  </div>  

  <!-- alternative metadata reference -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:alternativeMetadataReference',minOccurs:0,maxOccurs:1,preferOpen:false,label:'mdb:alternativeMetadataReference'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation" data-dojo-props="label:'CI_Citation'">
    </div>
  </div> 

  <!-- other Locale -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:otherLocale',minOccurs:0,maxOccurs:1,preferOpen:true,label:'mdb:otherLocale'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale" data-dojo-props="label:'PT_Locale'">
    </div>
  </div>  

  <!-- metadata linkage TODO -->

  <!--
    Role name:spatialRepresentationInfo
    Role name:referenceSystemInfo
    Role name:metadataExtensionInfo
    Role name:identificationInfo
    Role name:contentInfo
    Role name:distributionInfo
    Role name:dataQualityInfo
    Role name:portrayalCatalogueInfo
    Role name:metadataConstraints
    Role name:applicationSchemaInfo
    Role name:metadataMaintenance
    Role name:resourceLineage
    Role name:metadataScope
  -->
</div>