<div data-dojo-attach-point="containerNode">
<div data-dojo-type="esri/dijit/metadata/form/Tabs">
  <!-- metadata identifier -->
  <div data-dojo-type="app/gxe/types/iso-19115-3/mdb/metadataIdentifier" data-dojo-props="label:'${i18nIso3.MD_Metadata.metadataIdentifier}'">
  </div>

  <!-- default Locale -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:defaultLocale',minOccurs:0,maxOccurs:1,preferOpen:true,label:'${i18nIso3.MD_Metadata.defaultLocale}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale">
    </div>
  </div>

  <!-- parent metadata -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:parentMetadata',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Metadata.parentMetadata}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation">
    </div>
  </div>

  <!-- contact -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:contact', minOccurs:0, maxOccurs:1, preferOpen:true, label:'${i18nIso3.CI_ResponsibleParty.caption}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Responsibility"></div>
  </div>

  <!-- date info -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:dateInfo',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Metadata.dateInfo}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Date">
    </div>
  </div>

  <!-- metadata standard -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:metadataStandard',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Metadata.metadataStandard}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation">
    </div>
  </div>  

  <!-- metadata profile -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:metadataProfile',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Metadata.metadataProfile}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation">
    </div>
  </div>  

  <!-- alternative metadata reference -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:alternativeMetadataReference',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Metadata.alternativeMetadataReference}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation">
    </div>
  </div> 

  <!-- other Locale -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mdb:otherLocale',minOccurs:0,maxOccurs:1,preferOpen:true,label:'${i18nIso3.MD_Metadata.otherLocale}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale" data-dojo-props="label:'PT_Locale'">
    </div>
  </div>  

  
  <!-- metadata linkage -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'cit:CI_OnlineResource',minOccurs:0, label:'${i18nIso3.MD_Metadata.metadataLinkage}'">
  <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_OnlineResource">
  </div>
</div>

 
  <!-- Role name:spatialRepresentationInfo MD_SpatialRepresentation -->


  <!-- Role name:referenceSystemInfo MD_ReferenceSystem -->
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'mdb:referenceSystemInfo', label:'${i18nIso3.MD_Metadata.referenceSystemInfo}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/mrs/MD_ReferenceSystem" data-dojo-props="label:'Reference System Info'"></div>
  </div>

  <!--  Role name:metadataExtensionInfo MD_MetadataExtension ToDo-->

  <!--  Role name:identificationInfo MD_Identification ToDo-->
  <!--  Role name:contentInfo MD_ContentInformation ToDo --> 
  <!--  Role name:distributionInfo MD_Distribution ToDo -->
  <!--  Role name:dataQualityInfo DQ_DataQuality ToDo -->
  <!--  Role name:portrayalCatalogueInfo MD_PortrayalCatalogue ToDo-->
  <!--  Role name:metadataConstraints MD_Constraints ToDo -->
  <!--  Role name:applicationSchemaInfo MD_ApplicationSchema ToDo-->
  <!--  Role name:metadataMaintenance MD_MaintenanceInformation ToDo-->
  <!--  Role name:resourceLineage LI_Lineage ToDo --> 
  <!--  Role name:metadataScope LI_MD_MetadataScope ToDo-->

</div>
</div>