<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
  
    <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
      data-dojo-props="target:'gmd:contact',minOccurs:1,
        label:'${i18nInspire.contact.role.primary}',
        matchTopNode: [
          {
            qPath:'@xlink:href',
            qValue:'pointOfContact',
            qMode:'must'
          }  
        ]">

      <div data-dojo-type="esri/dijit/metadata/form/Attribute" data-dojo-attach-point="_xlinkHrefPointOfContact"
           data-dojo-props="target:'xlink:href',showHeader:false,fixed:true,value:'pointOfContact'"></div>

      <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
        data-dojo-props="target:'gmd:CI_ResponsibleParty',minOccurs:0">

        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'gmd:organisationName',
            label:'${i18nIso.CI_ResponsibleParty.organisationName}'">
          <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
            data-dojo-props="target:'gco:CharacterString'"></div>
        </div>

        <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:contactInfo',
          minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:CI_Contact',
            minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:address',
              minOccurs:0,showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:CI_Address',
                minOccurs:0,showHeader:false">
                <div data-dojo-type="esri/dijit/metadata/form/Element"
                  data-dojo-props="target:'gmd:electronicMailAddress',minOccurs:0,maxOccurs:'unbounded',
                    label:'${i18nIso.CI_Address.electronicMailAddress}'">
                  <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
                    data-dojo-props="target:'gco:CharacterString'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference" data-dojo-attach-point="_primaryRole"
          data-dojo-props="target:'gmd:role',
            label:'${i18nIso.CI_RoleCode.caption}',minOccurs:1">
          <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:CI_RoleCode',showHeader:false,fixed:true,value:'pointOfContact'">
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
                 data-dojo-props="target:'codeSpace',showHeader:false,fixed:true,value:'ISOTC211/19115'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
                 data-dojo-props="target:'codeList',showHeader:false,fixed:true,value:'http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
                 data-dojo-props="target:'codeListValue',showHeader:false,fixed:true,value:'pointOfContact'"></div>
          </div>
        </div>

      </div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
      data-dojo-props="target:'gmd:contact',minOccurs:0,maxOccurs:'unbounded',
        label:'${i18nInspire.contact.role.other}',
        matchTopNode: [
          {
            qPath:'@xlink:href',
            qValue:'pointOfContact',
            qMode:'mustNot'
          }  
        ]">

      <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
        data-dojo-props="target:'gmd:CI_ResponsibleParty',minOccurs:0">

        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'gmd:organisationName',
            label:'${i18nIso.CI_ResponsibleParty.organisationName}'">
          <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
            data-dojo-props="target:'gco:CharacterString'"></div>
        </div>

        <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:contactInfo',
          minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:CI_Contact',
            minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:address',
              minOccurs:0,showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:CI_Address',
                minOccurs:0,showHeader:false">
                <div data-dojo-type="esri/dijit/metadata/form/Element"
                  data-dojo-props="target:'gmd:electronicMailAddress',minOccurs:0,maxOccurs:'unbounded',
                    label:'${i18nIso.CI_Address.electronicMailAddress}'">
                  <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
                    data-dojo-props="target:'gco:CharacterString'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
          data-dojo-props="target:'gmd:role',
            label:'${i18nIso.CI_RoleCode.caption}',minOccurs:1">
          <div data-dojo-type="app/gxe/types/inspire2/gmd/citation/CI_RoleCode"></div>
        </div>

      </div>
    </div>
    
  </div>
</div>