<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:referenceSystemInfo',
      label:'${i18nIso.MD_Metadata.referenceSystemInfo}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_ReferenceSystem',minOccurs:0">
      
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:referenceSystemIdentifier',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
          data-dojo-props="target:'gmd:RS_Identifier',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'gmd:code',
              label:'${i18nIso.RS_Identifier.code}'">
            <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
              data-dojo-props="target:'gmx:Anchor'">
              <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute" data-dojo-props="target:'xlink:href', useDisplayValue: true">
              
                <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                  <div data-dojo-type="esri/dijit/metadata/form/Options">
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'',value:''"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-XYZ',value:'http://www.opengis.net/def/crs/EPSG/0/4936'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-GRS80h',value:'http://www.opengis.net/def/crs/EPSG/0/4937'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-GRS80',value:'http://www.opengis.net/def/crs/EPSG/0/4258'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-LAEA',value:'http://www.opengis.net/def/crs/EPSG/0/3035'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-LCC',value:'http://www.opengis.net/def/crs/EPSG/0/3034'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM26N',value:'http://www.opengis.net/def/crs/EPSG/0/3038'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM27N',value:'http://www.opengis.net/def/crs/EPSG/0/3039'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM28N',value:'http://www.opengis.net/def/crs/EPSG/0/3040'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM29N',value:'http://www.opengis.net/def/crs/EPSG/0/3041'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM30N',value:'http://www.opengis.net/def/crs/EPSG/0/3042'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM31N',value:'http://www.opengis.net/def/crs/EPSG/0/3043'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM32N',value:'http://www.opengis.net/def/crs/EPSG/0/3044'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM33N',value:'http://www.opengis.net/def/crs/EPSG/0/3045'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM34N',value:'http://www.opengis.net/def/crs/EPSG/0/3046'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM35N',value:'http://www.opengis.net/def/crs/EPSG/0/3047'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM36N',value:'http://www.opengis.net/def/crs/EPSG/0/3048'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM37N',value:'http://www.opengis.net/def/crs/EPSG/0/3049'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM38N',value:'http://www.opengis.net/def/crs/EPSG/0/3050'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-TM39N',value:'http://www.opengis.net/def/crs/EPSG/0/3051'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'EVRS',value:'http://www.opengis.net/def/crs/EPSG/0/5730'"></div>
                    <div data-dojo-type="esri/dijit/metadata/form/Option"
                      data-dojo-props="label:'ETRS89-GRS80-EVRS',value:'http://www.opengis.net/def/crs/EPSG/0/7409'"></div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        
        </div>
      </div>  
      
    </div>
  </div>  
          
</div>