<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'msr:MD_GeometryObjectTypeCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_GeometryObjectTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>          
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_GeometryObjectTypeCode.complex}',value:'complex'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_GeometryObjectTypeCode.composite}',value:'composite'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_GeometryObjectTypeCode.curve}',value:'curve'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_GeometryObjectTypeCode.point}',value:'point'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_GeometryObjectTypeCode.solid}',value:'solid'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_GeometryObjectTypeCode.surface}',value:'surface'"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>