<div class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" data-dojo-attach-point="contentNode"> 
      <div class="modal-header panel-heading" data-dojo-attach-point="header">  
        <h6 class="modal-title" data-dojo-attach-point="titleNode"></h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
          title="${i18n.general.close}" data-dojo-attach-point="closeIconNode">
          </button>
      </div>
      <div class="modal-body" data-dojo-attach-point="bodyNode"></div>
    </div>
  </div>
</div>