<div class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" data-dojo-attach-point="contentNode"> 
      <div class="modal-header panel-heading clearfix" data-dojo-attach-point="header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
          title="${i18n.general.close}" data-dojo-attach-point="closeIconNode">
          <span class="esri-icon-close" aria-hidden="true"></span></button>
        <div data-dojo-attach-point="actionsNode"></div>
        <h6 class="modal-title" data-dojo-attach-point="titleNode"></h6>
      </div>
      <div class="modal-body" data-dojo-attach-point="bodyNode"></div>
    </div>
  </div>
</div>