<div class="modal-footer g-okcancel-bar">
  <span class="pull-left g-loading" data-dojo-attach-point="loadingIndicator" style="display:none;"></span>   
	<span class="pull-left" data-dojo-attach-point="workingArea"></span>
	<button type="button" 
		data-dojo-attach-point="okButton"
		data-dojo-attach-event="onClick: onOkClicked"
		class="btn btn-primary btn-sm"
		>${okLabel}</button>
	<button type="button" 
		data-dojo-attach-point="cancelButton"
		data-dojo-attach-event="onClick: onCancelClicked"
		class="btn btn-link btn-sm"
		>${cancelLabel}</button>
</div>