<div data-dojo-attach-point="containerNode">

<!-- description CharacterString M 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:description',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_Constraint.description}'">
  <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
  <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
</div>

</div>