<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-attach-point="_placeholder"
    data-dojo-props="target:'srv:operatesOn',minOccurs:0,
      preferOpen:true,label:'${i18nIso.SV_ServiceIdentification.operatesOn}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute" data-dojo-attach-point="_xlinkHref"
      data-dojo-props="target:'xlink:href',label:'${i18nIso.ObjectReference.xlinkref}',minOccurs:0">
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'uuidref',label:'${i18nIso.ObjectReference.uuidref}',minOccurs:0">
    </div>
  </div>  
      
</div>