<div class="jimu-crop-image">
	<div class="crop-section" data-dojo-attach-point="cropSection">
		<div class="viewer-box hide-status" data-dojo-attach-point="viewerBox">
			<div class="viewer-content" data-dojo-attach-point="viewerContent">
				<img class="viewer-image hide-status" data-dojo-attach-point="viewerImage" src="">
			</div>
			<img class="base-image hide-status" data-dojo-attach-point="baseImage" data-dojo-attach-event="mousedown:_onViewerMouseDown,mouseup:_onViewerMouseUp">
		</div>
		<img class="loading-image" data-dojo-attach-point="loadingImg" src="">
	</div>
	<div class="controller hide-status" data-dojo-attach-point="zoomController">
		<div class="zoom-out" data-dojo-attach-point="zoomOutBtn" data-dojo-attach-event="click:_onZoomOutClick">-</div>
		<div class="slider" data-dojo-attach-point="sliderNode">
			<div class="button" data-dojo-attach-point="sliderButton" data-dojo-attach-event="mousedown:_onSliderMouseDown,mouseup:_onSliderMouseUp"></div>
			<div class="horizontal"></div>
		</div>
		<div class="zoom-in" data-dojo-attach-point="zoomInBtn" data-dojo-attach-event="click:_onZoomInClick">+</div>
	</div>
</div>
