<div>
	<table class="setting-table" cellpadding="0" cellspacing="0" cellpadding="10px" style="table-layout:fixed;">
		<tbody>
			<tr>
				<td class="fields-td" nowrap>
					<div data-dojo-attach-point="fieldsSelect" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props='searchAttr:"displayName",required:true,intermediateChanges:true' class="dijit-form-FilteringSelect" style="width:100%;"></div>
				</td>
				<td class="operators-td" nowrap>
					<select data-dojo-attach-point="operatorsSelect" data-dojo-type="dijit/form/Select" style="width:100%;" class="operator-select dijit-form-Select restrict-select-width">
						<option value="none">${nls.none}</option>
					</select>
				</td>
				<td class="value-td" nowrap data-dojo-attach-point="valueTd">
					<div data-dojo-attach-point="attributeValueContainer" class="value-container">
						<div class="radio-table-container">
							<table class="radio-table" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>
											<input class="jimu-radio-btn" type="radio" data-dojo-attach-point="valueRadio" checked="true" disabled  title="${nls.valueTooltip}" />
											<label data-dojo-attach-point="valueLabel" title="${nls.valueTooltip}">${nls.value}</label>
										</td>
										<td>
											<input class="jimu-radio-btn" type="radio" data-dojo-attach-point="fieldRadio" disabled title="${nls.fieldTooltip}" />
											<label data-dojo-attach-point="fieldLabel" title="${nls.fieldTooltip}">${nls.field}</label>
										</td>
										<td data-dojo-attach-point="uniqueTd">
											<input class="jimu-radio-btn" type="radio" data-dojo-attach-point="uniqueRadio" disabled title="${nls.uniqueValueTooltip}" />
											<label data-dojo-attach-point="uniqueLabel" title="${nls.uniqueValueTooltip}">${nls.unique}</label>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</td>
				<td class="delete-td" nowrap>
					<div class="jimu-icon jimu-icon-delete" data-dojo-attach-point="btnDelete"
					 data-dojo-attach-event="click:_destroySelf"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="askvalues">
		<div data-dojo-type="jimu/dijit/CheckBox" data-dojo-attach-point="cbxAskValues" label="${nls.askForValues}" class="jimu-trailing-margin6"></div>
		<div data-dojo-type="jimu/dijit/CheckBox" data-dojo-attach-point="cbxCaseSensitive" label="${nls.caseSensitive}" style="display:none;"></div>
	</div>
	<div data-dojo-attach-point="promptSection" class="prompt">
		<table data-dojo-attach-point="promptTable" cellpadding="0" cellspacing="0" class="prompt-table" style="width:100%;">
			<tbody>
				<tr>
					<td class="first-td">
						<span>${nls.prompt}</span>
					</td>
					<td class="second-td">
						<div data-dojo-attach-point="promptTB" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="required:true,trim:true" style="width:257px;" class="dijit-form-ValidationTextBox" ></div>
					</td>
				</tr>
				<tr>
					<td class="first-td">
						<span>${nls.hint}</span>
					</td>
					<td class="second-td">
						<div data-dojo-attach-point="hintTB" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true" style="width:257px;" class="dijit-form-ValidationTextBox" ></div>
					</td>
				</tr>
				<tr data-dojo-attach-point="cascadeTr" class="cascade-tr">
					<td class="first-td">
						<div style="margin-bottom:5px;">${nls.listValues}:</div>
					</td>
					<td class="second-td">
						<select data-dojo-type="dijit/form/Select" data-dojo-attach-point="cascadeSelect" class="cascade-select restrict-select-width" style="width:100%;">
							<option value="none">${nls.noneCascadeFilterTip}</option>
							<option value="previous">${nls.previousCascadeFilterTip}</option>
							<option value="all">${nls.allCascadeFilterTip}</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>