<div>
  <div class="settings-container">
    <div data-dojo-attach-point="fieldsSelect" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props='searchAttr:"displayName",required:true,intermediateChanges:true' class="fields-select dijit-form-FilteringSelect"></div>
    <select data-dojo-attach-point="operatorsSelect" data-dojo-type="dijit/form/Select" class="operator-select dijit-form-Select restrict-select-width">
      <option value="none">${nls.none}</option>
    </select>
    <div data-dojo-attach-point="attributeValueContainer" class="attribute-value-container">
      <div data-dojo-attach-point="valueProviderContainer" class="value-provider-container"></div>
      <div data-dojo-attach-point="valueTypeSetNode" title="${nls.setInputType}" class="value-type-set jimu-icon jimu-icon-setting" data-dojo-attach-event="click:_onValueTypeSetClick"></div>
    </div>
    <div class="jimu-icon jimu-icon-delete" data-dojo-attach-point="btnDelete" data-dojo-attach-event="click:_destroySelf"></div>
  </div>

  <div class="askvalues">
    <div data-dojo-type="jimu/dijit/CheckBox" data-dojo-attach-point="cbxAskValues" label="${nls.askForValues}" class="jimu-trailing-margin6"></div>
    <div data-dojo-type="jimu/dijit/CheckBox" data-dojo-attach-point="cbxCaseSensitive" label="${nls.caseSensitive}" style="display:none;"></div>
  </div>

  <div data-dojo-attach-point="promptSection" class="prompt">
    <table data-dojo-attach-point="promptTable" cellpadding="0" cellspacing="0" class="prompt-table" style="width:100%;">
      <tbody>
        <tr>
          <td class="first-td">
            <span>${nls.prompt}</span>
          </td>
          <td class="second-td">
            <div data-dojo-attach-point="promptTB" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="required:true,trim:true" style="width:257px;" class="dijit-form-ValidationTextBox" ></div>
          </td>
        </tr>
        <tr>
          <td class="first-td">
            <span>${nls.hint}</span>
          </td>
          <td class="second-td">
            <div data-dojo-attach-point="hintTB" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true" style="width:257px;" class="dijit-form-ValidationTextBox" ></div>
          </td>
        </tr>
        <tr data-dojo-attach-point="cascadeTr" class="cascade-tr">
          <td class="first-td">
            <div style="margin-bottom:5px;">${nls.listValues}:</div>
          </td>
          <td class="second-td">
            <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="cascadeSelect" class="cascade-select restrict-select-width" style="width:100%;">
              <option value="none">${nls.noneCascadeFilterTip}</option>
              <option value="previous">${nls.previousCascadeFilterTip}</option>
              <option value="all">${nls.allCascadeFilterTip}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="value-type-popup value-type-popup-new" data-dojo-attach-point="valueTypePopupNode">
    <ul>
      <li data-type="value" title="${nls.value}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.value}</span><span></span></li>
      <!-- <li data-type="values" title="${nls.values}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.values}</span><span></span></li> -->
      <li data-type="field" title="${nls.field}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.field}</span><span></span></li>
      <li data-type="unique" title="${nls.unique}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.unique}</span><span></span></li>
      <li data-type="uniquePredefined" title="${nls.uniquePredefined}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.uniquePredefined}</span><span></span></li>
      <li data-type="multiple" title="${nls.multiple}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.multiple}</span><span></span></li>
      <li data-type="multiplePredefined" title="${nls.multiplePredefined}" data-dojo-attach-event="click:_onValueTypeClick"><span>${nls.multiplePredefined}</span><span></span></li>
    </ul>
  </div>
</div>