<div class="jimu-not-selectable">
  <div class="draw-item-btn">
    <div class="current-draw-item" data-dojo-attach-point="currentDrawItem">
      <div class="btn-select" data-dojo-attach-point="btnSelect">
        <div class="labels">
            <div class="feature-action" data-dojo-attach-point="geoTypeIcon"></div>
            <div class="select-text"></div>
        </div>
        <div class="arrow feature-action icon-drop-down" data-dojo-attach-event="click:_onArrowClicked"></div>
      </div>
    </div>
  </div>
  <div class="btn-clear" data-dojo-attach-point="btnClear">
    <div class="feature-action icon-clear-selection"></div><div class="clear-text"></div>
  </div>
</div>