<div class="jimu-image-chooser js-fileapi-wrapper">
  <div class="hint" data-dojo-attach-point="hintText">
		<span class="display-text" data-dojo-attach-point="displayText"></span>
  </div>
  <div class="hint" data-dojo-attach-point="hintImage">
		<img class="display-image" data-dojo-attach-point="selfImg">
  </div>
  <!--
  <form data-dojo-attach-point="fileForm">
    <label data-dojo-attach-point="mask"></label>
    <input type="file" data-dojo-attach-point="fileInput">
  </form>
  <img class="tmp-image" style="display:none" data-dojo-attach-point="tmpImg">-->
</div>