<div>
	<table class="radio-table" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="map-td" nowrap>
					<input class="jimu-radio-btn jimu-float-leading" data-dojo-attach-point="mapRadio" type="radio" data-dojo-attach-event="onclick: _onRadioClicked" checked />
					<label data-dojo-attach-point="mapLabel">${nls.selectFromMap}</label>
				</td>
				<td class="portal-td" nowrap>
					<input class="jimu-radio-btn jimu-float-leading" data-dojo-attach-point="portalRadio" type="radio" data-dojo-attach-event="onclick: _onRadioClicked" />
					<label data-dojo-attach-point="portalLabel">${nls.selectFromPortal}</label>
				</td>
				<td class="url-td" nowrap>
					<input class="jimu-radio-btn jimu-float-leading" data-dojo-attach-point="urlRadio" type="radio" data-dojo-attach-event="onclick: _onRadioClicked" />
					<label data-dojo-attach-point="urlLabel">${nls.addServiceUrl}</label>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="source-content">
		<div data-dojo-attach-point="operationTip" class="operation-tip"></div>
		<div data-dojo-attach-point="mapDijitContainer" class="dijit-container map-dijit-container" style="display:none;"></div>
		<div data-dojo-attach-point="portalDijitContainer" class="dijit-container portal-dijit-container" style="display:none;"></div>
		<div data-dojo-attach-point="urlDijitContainer" class="dijit-container url-dijit-container" style="display:none;"></div>
	</div>
</div>