<div>
	<div data-dojo-attach-point="cbxDiv"></div>
	<table style="table-layout:fixed;width:100%;">
		<colgroup>
			<col width="auto"></col>
			<col width="15px"></col>
			<col width="auto"></col>
		</colgroup>
		<tbody>
			<tr>
				<td>
					<input data-dojo-attach-point="numberTextBox" data-dojo-type="dijit/form/NumberTextBox"
					 data-dojo-props='"required":true,intermediateChanges:false,constraints:{min:0,pattern:"#####0.##########"}'
					 style="width:100%;" data-dojo-attach-event="change:_onNumberTextBoxChanged" />
				</td>
				<td></td>
				<td>
					<select data-dojo-type="dijit/form/Select" data-dojo-attach-point="unitSelect"
					data-dojo-attach-event="change:_onUnitSelectChanged" style="width:100%;">
						<option value="MILES" selected>${nls.miles}</option>
						<option value="KILOMETERS">${nls.kilometers}</option>
						<option value="FEET">${nls.feet}</option>
						<option value="METERS">${nls.meters}</option>
						<option value="YARDS">${nls.yards}</option>
						<option value="NAUTICAL_MILES">${nls.nauticalMiles}</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>