<div>
	<div class="layer-tip second-stress" data-dojo-attach-point="tipNode">${nls.relatedLayer}</div>
	<table>
		<colgroup>
			<col width="auto"></col>
			<col width="100"></col>
		</colgroup>
		<tbody>
			<tr>
				<td>
					<div class="layers-select-div" data-dojo-attach-point="layerSelectDiv"></div>
				</td>
				<td>
					<div class="jimu-float-trailing" data-dojo-attach-point="featureSetChooserDiv"></div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="selection-option not-visible" data-dojo-attach-point="selectionOptionDiv"></div>

	<div class="search-distance-div" data-dojo-attach-point="searchDistanceDiv"></div>
	<div data-dojo-attach-point="loading" data-dojo-type="jimu/dijit/LoadingShelter" data-dojo-props='hidden:true'></div>
</div>