<div class="form-group">
  <label class="control-label">?Apply to:</label>
  <div class="g-indent">
	  <label class="checkbox-inline">
	    <input type="checkbox" data-dojo-attach-point="idNode">
	    <span data-dojo-attach-point="idLabelNode">?This item</span>
	  </label>
  </div>
  <div class="g-indent">
    <label class="checkbox-inline">
      <input type="checkbox" data-dojo-attach-point="ownerNode">
      <span data-dojo-attach-point="ownerLabelNode">?This owner</span>
    </label>
  </div>
  <div class="g-indent">
    <label class="checkbox-inline">
      <input type="checkbox" data-dojo-attach-point="srcUriNode">
      <span data-dojo-attach-point="srcUriLabelNode">?This src uri</span>
    </label>
  </div>
</div>