<div class="form-group">
  <div data-dojo-attach-point="itemSection">
	  <label class="radio-inline">
	    <input type="radio" name="${id}_radio" data-dojo-attach-point="itemNode">
	    <span data-dojo-attach-point="itemLabelNode"></span>
	  </label>
  </div>
  <div data-dojo-attach-point="ownerSection">
    <label class="radio-inline">
      <input type="radio" name="${id}_radio" data-dojo-attach-point="ownerNode">
      <span data-dojo-attach-point="ownerLabelNode"></span>
    </label>
  </div>
  <div data-dojo-attach-point="sourceUriSection">
    <label class="radio-inline">
      <input type="radio" name="${id}_radio" data-dojo-attach-point="sourceUriNode">
      <span data-dojo-attach-point="sourceUriLabelNode"></span>
    </label>
  </div>
  <div data-dojo-attach-point="taskRefSection">
    <label class="radio-inline">
      <input type="radio" name="${id}_radio" data-dojo-attach-point="taskRefNode">
      <span data-dojo-attach-point="taskRefLabelNode"></span>
    </label>
  </div>
  <div data-dojo-attach-point="querySection">
    <label class="radio-inline">
      <input type="radio" name="${id}_radio" data-dojo-attach-point="queryNode">
      <span data-dojo-attach-point="queryLabelNode"></span>
    </label>
  </div>
</div>