<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:distributionInfo',minOccurs:1,
      label:'${i18nISO19115.MD_Metadata.distributionInfo}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_Distribution',minOccurs:1">
      
      <div data-dojo-type="app/gxe/types/ISO19115/gmd/distribution/DistributionFormat"></div>
      <div data-dojo-type="app/gxe/types/ISO19115/gmd/distribution/TransferOptions"></div>
      
    </div>
  </div>  
  
</div>