  html, body {
    font-family: Lucida Sans, Lucida Grande, Arial !important;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .esri-item-gallery .esri-item-container {
    float: left;
    text-align: center;
    padding: 10px;
    width: 204px;
    display: inline-block;
  }

  .esri-item-gallery .esri-image {
    width: 200px;
    height: 133px;
    border: 2px solid gray;
    border-radius: 5px;
  }

  .esri-item-gallery .esri-null-image {
    line-height: 133px;
    text-align: center;
    color: #999999;
  }

  .esri-item-gallery .esri-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .esri-item-gallery .esri-null-title {
    color: #999999;
  }

  .action {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }