<div data-dojo-attach-point="containerNode">
  

    <!-- name Free Text M 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:name',minOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.name}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  
    </div>

    <!-- definition Free Text  M 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:definition',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.defintion}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  
    
    </div>

    <!-- obligation MD_ObligationCode  O 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:obligation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.obligation}'">
    
    </div>

    <!-- condition Free Text O 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:condition',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.condition}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  

    </div>

    <!-- dataType MD_DatatypeCode  M 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:dataType',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.dataType}'">

    </div>

    <!-- maximumOccurrence CharacterString N or any Integer  M 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:maximumOccurrence',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.maximumOccurrence}'">

    </div>

    <!-- domainValue Free Text O 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:domainValue',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.domainValue}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  

    </div>

    <!-- parentEntity Free Text M N -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:parentEntity',minOccurs:1,maxOccurs:'unbounded',preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.parentEntity}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  

    </div>

    <!-- rule Free Text M 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:rule',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.rule}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  

    </div>

    <!-- rationale Free Text O 1 -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:rationale',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.rationale}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  

    </div>

    <!-- source CI_Responsibility M N -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:source',minOccurs:1,maxOccurs:'unbounded',preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.source}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Responsibility"> </div>
    </div>

    <!-- conceptName Free Text O 1-->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:conceptName',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.conceptName}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>  

    </div>

    <!-- code CharacterString O 1 Unspecified domain-->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mri:code',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ExtendedElementInformation.code}'">

    </div>

</div>