<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'mri:MD_KeywordTypeCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_KeywordTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>          
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.discipline}',value:'discipline'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.place}',value:'place'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.stratum}',value:'stratum'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.temporal}',value:'temporal'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.theme}',value:'theme'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.dataCentre}',value:'dataCentre'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.featureType}',value:'featureType'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.instrument}',value:'instrument'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.platform}',value:'platform'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.process}',value:'process'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.project}',value:'project'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.service}',value:'service'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.product}',value:'product'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.subTopicCategory}',value:'subTopicCategory'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_KeywordTypeCode.taxon}',value:'taxon'"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>