<div data-dojo-attach-point="containerNode">

<!-- typeName LocalName M 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:typeName',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_FeatureType.typeName}'">
    
    <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/LocalName" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>

</div> 

<!-- definition CharacterString M 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:definition',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_FeatureType.definition}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
</div> 

<!-- code CharacterString O 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:code',minOccurs:1,maxOccurs:1,preferOpen:false, label:'${i18nIso3.FC_FeatureType.code}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
</div> 
<!-- isAbstract Boolean M 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:isAbstract',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_FeatureType.isAbstract}'">
     <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Boolean',fixed:false,value:'true'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
            <div data-dojo-type="esri/dijit/metadata/form/Options">
              <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'True',value:'true'"></div>            
              <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'False',value:'false'"></div>  
            </div>
          </div>
    
    </div>
</div>

<!-- aliases LocalName O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:aliases',minOccurs:0,maxOccurs:'unbounded',preferOpen:false, label:'${i18nIso3.FC_FeatureType.aliases}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/LocalName"></div>  
</div>

<!-- inheritsFrom FC_InheritanceRelation O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:inheritsFrom',minOccurs:0,maxOccurs:'unbounded',preferOpen:false, label:'${i18nIso3.FC_FeatureType.inheritsFrom}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/gfc/FC_InheritanceRelation"></div>  
</div>
<!-- inheritsTo FC_InheritanceRelation O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:inheritsTo',minOccurs:0,maxOccurs:'unbounded',preferOpen:false, label:'${i18nIso3.FC_FeatureType.inheritsTo}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/gfc/FC_InheritanceRelation"></div>  
</div>
<!-- carrierOfCharacteristics FC_PropertyType, FC_Binding O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:carrierOfCharacteristics',minOccurs:0,maxOccurs:'unbounded',preferOpen:false, label:'${i18nIso3.FC_FeatureType.carrierOfCharacteristics}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/gfc/FC_PropertyType"></div>  
</div>
<!-- Role constrainedBy FC_Constraint  O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:constrainedBy',minOccurs:0,maxOccurs:'unbounded',preferOpen:false, label:'${i18nIso3.FC_FeatureType.constrainedBy}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/gfc/FC_Constraint"></div> 
</div>
<!-- Role definitionReference FC_DefinitionReference O 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:definitionReference',minOccurs:0,maxOccurs:1,preferOpen:false, label:'${i18nIso3.FC_FeatureType.definitionReference}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/gfc/FC_DefinitionReference"></div>
</div>
</div>