<div data-dojo-attach-point="containerNode">

<!-- memberName LocalName M 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:memberName',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_PropertyType.memberName}'">
  <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
  <div data-dojo-type="app/gxe/types/iso-19115-3/lan/LocalName" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
</div>

<!-- definition CharacterString M 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:definition',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_PropertyType.definition}'">
  <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
  <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
</div>


<!-- cardinality Multiplicity O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:cardinality',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_PropertyType.cardinality}'">
   
</div>

<!-- featureType FC_FeatureType, FC_Binding O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:featureType',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_PropertyType.featureType}'">
   
</div>

<!-- Role constrainedBy FC_Constraint O N -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:constrainedBy',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_PropertyType.constrainedBy}'">
   
</div>

<!-- Role definitionReference FC_DefinitionReference O 1 -->
<div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gfc:definitionReference',minOccurs:1,maxOccurs:1,preferOpen:true, label:'${i18nIso3.FC_PropertyType.definitionReference}'">
   
</div> 


</div>