<div data-dojo-attach-point="containerNode">
  
  <!-- MD_CoverageDescription-->
  <!-- attributeDescription RecordType -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:attributeDescription',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_CoverageDescription.attributeDescription}'">
      
  </div>

  <!-- processingLevelCode MD_Identifier -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:processingLevelCode',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_CoverageDescription.processingLevelCode}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mcc/MD_Identifier"> </div>
  </div>

  <!-- Role name: attributeGroup MD_AttributeGroup -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:attributeGroup',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_CoverageDescription.attributeGroup}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mrc/MD_AttributeGroup"> </div>
  </div>

</div>