<div data-dojo-attach-point="containerNode">
  
  <!-- complianceCode Boolean-->
  <div data-dojo-type="esri/dijit/metadata/form/Element"  data-dojo-props="target:'mrc:complianceCode', minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureCatalogueDescription.complianceCode}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gco:Boolean', label:''">
    <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
      <div data-dojo-type="esri/dijit/metadata/form/Options">
        <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'',value:''"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'True',value:'true'"></div>            
        <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'False',value:'false'"></div>  
      </div>
    </div>
    </div>
  </div>

  <!-- locale PT_Locale -->
  <div data-dojo-type="esri/dijit/metadata/form/Element"  data-dojo-props="target:'mrc:locale',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureCatalogueDescription.locale}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/lan/PT_Locale"> </div>
  </div>

  <!-- includedWithDataset Boolean -->
  <div data-dojo-type="esri/dijit/metadata/form/Element"  data-dojo-props="target:'mrc:includedWithDataset',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureCatalogueDescription.includedWithDataset}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gco:Boolean', label:''">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'True',value:'true'"></div>            
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'False',value:'false'"></div>  
        </div>
      </div>
      </div>    
  </div>

  <!-- featureTypes MD_FeatureTypeInfo -->
  <div data-dojo-type="esri/dijit/metadata/form/Element"  data-dojo-props="target:'mrc:featureTypes',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureCatalogueDescription.featureTypes}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mrc/MD_FeatureTypeInfo"> </div>
  </div>

  <!-- featureCatalogueCitation CI_Citation -->
  <div data-dojo-type="esri/dijit/metadata/form/Element"  data-dojo-props="target:'msr:featureCatalogueCitation',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_FeatureCatalogueDescription.featureCatalogueCitation}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation"> </div>
  </div>

</div>