<div data-dojo-attach-point="containerNode">
  
  <!-- MD_RangeDimension-->
  <!-- sequenceIdentifier MemberName -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:sequenceIdentifier',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_RangeDimension.sequenceIdentifier}'">
      
  </div>

  <!-- description Free Text -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:description',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_RangeDimension.description}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
    <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'xxxx',minOccurs:0,maxOccurs:10"></div>
  </div>

  <!-- name MD_Identifier -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:MD_Identifier',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_RangeDimension.name}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mcc/MD_Identifier"> </div>
  </div>

  <!-- MD_SampleDimension -->
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrc:MD_SampleDimension',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_SampleDimension.caption}'">
    <div data-dojo-type="app/gxe/types/iso-19115-3/mrc/MD_SampleDimension"> </div>
  </div>



</div>