<div class="g-item-card" 
  data-dojo-attach-point="containerNode"
  data-dojo-attach-event="onmouseenter: _mouseenter, onmouseleave: _mouseleave">
  <div class="g-item-title" data-dojo-attach-point="titleNode"></div>
  <div>
    <img class="g-item-thumbnail pull-right" alt="Thumbnail" data-dojo-attach-point="thumbnailNode"/>
    <div class="g-item-owner-and-date pull-left clearfix" data-dojo-attach-point="ownerAndDateNode"></div>
    <div class="g-item-description pull-left clearfix" data-dojo-attach-point="descriptionNode"></div> 
  </div>
  <div class="g-item-actions clearfix" data-dojo-attach-point="actionsNode"></div>
</div>