<div>
  <span class="g-from-value">
    <label for="{id}_fromValue" class="g-from-value-input-label">${i18n.search.numericFilter.fromLabel}</label>
    <input type="text" id="{id}_fromValue" class="g-from-value-input"
           data-dojo-type="dijit/form/NumberTextBox" 
           required="true"
           data-dojo-attach-point="fromValueInput"
           />
  </span>
  <span class="g-to-value">
    <label for="{id}_toValue" class="g-from-value-input-label">${i18n.search.numericFilter.toLabel}</label>
    <input type="text" id="{id}_toValue" class="g-to-value-input"
           data-dojo-type="dijit/form/NumberTextBox" 
           required="true"
           data-dojo-attach-point="toValueInput"
           />
  </span>
</div>