<div class="search-box">
	<div class="input-group input-group-sm">
		<input type="text" class="form-control"
			placeholder="${i18n.search.searchBox.search}..."
			data-dojo-attach-point="searchTextBox"/> 
		<span class="input-group-btn">
			<button class="btn btn-success btn-sm" type="button"
				data-dojo-attach-point="searchButton"
				data-dojo-attach-event="onClick: search"
				title="${i18n.search.searchBox.search}">
				<span class="esri-icon-search"></span>
				${i18n.search.searchBox.search}
			</button>
		</span>
	</div>
	<div data-dojo-type="dijit/Tooltip"
		 data-dojo-attach-point="ToolTip"
		 data-dojo-props="position:['below']">
		You can use 'OR' or 'AND'
	</div>
</div>