<div>
	<div class="g-drop-pane" data-dojo-type="app/search/DropPane" 
	  data-dojo-attach-point="dropPane"
	  data-dojo-props="title:'${label}',open:${open}">
	  <div class="g-spatial-filter-map" data-dojo-attach-point="mapNode">
	    <div class="g-spatial-filter-d3-tooltip" data-dojo-attach-point="tooltipNode"></div>
	  </div>
	  <div class="g-spatial-filter-locator" data-dojo-attach-point="searchWidgetNode"></div>
	</div>
	<div data-dojo-type="dijit/Tooltip"
		 data-dojo-attach-point="ToolTip"
		 data-dojo-props="position:['below']">
		Zoom to a region, then select "Within" or "Intersects" to apply filter
	</div>
</div>