<div class="g-settings-pane g-labels-right">
  <div class="form-group form-group-sm">
    <label for="${id}_componentLabel" class="control-label col-sm-3"
      >${i18n.search.componentSettings.componentLabel}</label>
    <div class="col-sm-8">
      <input id="${id}_componentLabel" type="text" class="form-control input-sm g-input-text" 
        placeholder="${i18n.search.componentSettings.componentLabelPlaceholder}"
        data-dojo-attach-point="componentLabelInput" >
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label for="${id}_field" class="control-label col-sm-3"
      >${i18n.search.temporalFilter.settings.field}</label>
    <div class="col-sm-8">
	    <input id="${id}_field" type="text" class="form-control g-input-text" 
	      placeholder="${i18n.search.temporalFilter.settings.fieldPlaceholder}"
	      data-dojo-attach-point="fieldInput" >
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label for="${id}_toField" class="control-label col-sm-3"
      >${i18n.search.temporalFilter.settings.toField}</label>
    <div class="col-sm-8">
      <input id="${id}_toField" type="text" class="form-control g-input-text" 
        placeholder="${i18n.search.temporalFilter.settings.toFieldPlaceholder}"
        data-dojo-attach-point="toFieldInput" 
        style="display:inline-block;width:75%">
      <input id="${id}_chkMust" type="checkbox" style="margin-top:10px;margin-left:10px"
        data-dojo-attach-point="mustCheckbox" >
      <label for="${id}_chkMust" class="control-label"
        >${i18n.search.temporalFilter.settings.mustOperator}</label>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label for="${id}_nestedPath" class="control-label col-sm-3"
      >${i18n.search.temporalFilter.settings.nestedPath}</label>
    <div class="col-sm-8">
      <input id="${id}_nestedPath" type="text" class="form-control g-input-text" 
        placeholder="${i18n.search.temporalFilter.settings.nestedPathPlaceholder}"
        data-dojo-attach-point="nestedPathInput" >
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label for="${id}_sel1" class="control-label col-sm-3"
      >${i18n.search.temporalFilter.settings.interval}</label>
    <div class="col-sm-8">
      <select aria-label="Select Time Interval" id="${id}_sel1" class="form-control" data-dojo-attach-point="intervalSelect">
        <option value="year">${i18n.search.temporalFilter.interval.year}</option>
        <option value="quarter">${i18n.search.temporalFilter.interval.quarter}</option>
        <option value="month">${i18n.search.temporalFilter.interval.month}</option>
        <option value="week">${i18n.search.temporalFilter.interval.week}</option>
        <option value="day">${i18n.search.temporalFilter.interval.day}</option>
        <option value="hour">${i18n.search.temporalFilter.interval.hour}</option>
        <option value="minute">${i18n.search.temporalFilter.interval.minute}</option>
        <option value="second">${i18n.search.temporalFilter.interval.second}</option>
      </select>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
      <input id="${id}_chkUTC" type="checkbox" style="margin-top:10px;"
        data-dojo-attach-point="utcCheckbox" >
      <label for="${id}_chkUTC" class="control-label"
        >${i18n.search.temporalFilter.settings.useUTC}</label>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
      <a href="javascript:void(0)" 
        data-dojo-attach-event="onClick: reset">
        ${i18n.search.componentSettings.reset}
      </a>
    </div>
  </div>
</div>