<div>
	<table class="header-table" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td>
					<div>
						<select data-dojo-attach-point="allAnySelect">
							<option value="AND" selected>${nls.matchMsgSetAll}</option>
							<option value="OR">${nls.matchMsgSetAny}</option>
						</select>
					</div>
				</td>
				<td class="jimu-filter-set-delete">
					<div data-dojo-attach-point="btnDelete" data-dojo-attach-event="onclick:_destroySelf"
					 class="jimu-icon jimu-icon-delete"></div>
				</td>
				<td class="jimu-filter-set-add">
					<div data-dojo-attach-point="btnAdd" class="jimu-icon jimu-icon-add"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<div data-dojo-attach-point="allExpsBox" class="jimu-filter-exps-box">
	</div>
</div>