<div>
	<div class="selector-container" data-dojo-attach-point="selectorContainer"></div>
	<div class="service-browser-container" data-dojo-attach-point="serviceBrowserContainer"></div>
	<div class="footer">
		<div class="jimu-btn jimu-float-trailing cancel jimu-btn-vacation" data-dojo-attach-point="btnCancel" data-dojo-attach-event="onclick:_onBtnCancelClicked">${nls.cancel}</div>
		<div class="jimu-btn jimu-float-trailing next jimu-state-disabled" data-dojo-attach-point="btnNext" data-dojo-attach-event="onclick:_onBtnNextClicked">${nls.next}</div>
		<div class="jimu-btn jimu-float-trailing ok jimu-state-disabled" data-dojo-attach-point="btnOk" data-dojo-attach-event="onclick:_onBtnOkClicked">${nls.ok}</div>
		<div class="jimu-btn jimu-float-trailing back" data-dojo-attach-point="btnBack" data-dojo-attach-event="onclick:_onBtnBackClicked">${nls.back}</div>
	</div>
</div>