<div>
	<table class="radio-table" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td nowrap>
					<input data-dojo-attach-point="portalRadio" type="radio" data-dojo-attach-event="onclick: _onRadioClicked" class="portal-radio jimu-radio-btn" />
					<label data-dojo-attach-point="portalLabel">${nls.selectFromPortal}</label>
				</td>
				<td nowrap>
					<input data-dojo-attach-point="urlRadio" type="radio" checked data-dojo-attach-event="onclick: _onRadioClicked" class="url-radio jimu-radio-btn" />
					<label data-dojo-attach-point="urlLabel">${nls.addServiceUrl}</label>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="source-content">
		<div data-dojo-attach-point="operationTip" class="operation-tip"></div>
		<div data-dojo-attach-point="hflcContainer" class="dijit-container hflc-container" style="display:none;"></div>
		<div data-dojo-attach-point="flscContainer" class="dijit-container flsc-container" style="display:none;"></div>
	</div>
</div>