<div>
  <table data-dojo-attach-event="onclick: _onDropDownClick">
    <colgroup>
      <col width="10px"></col>
      <col width="auto"></col>
      <col width="30px"></col>
    </colgroup>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="layer-name jimu-ellipsis" data-dojo-attach-point="layerNameNode"></div>
        </td>
        <td>
          <div class="drop-select jimu-float-trailing" data-dojo-attach-point="dropArrowNode">
            <div class="jimu-icon jimu-icon-down-arrow-8"></div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
