<div data-dojo-attach-point="containerNode">
  

     <!-- distributorContact CI_Responsibility -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:distributorContact',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Distributor.distributorContact}'">
          <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Responsibility"> </div>
     </div>

     <!-- Role Name: distributionOrderProcess MD_StandardOrderProcess -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:distributionOrderProcess',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_Distributor.distributionOrderProcess}'">
          <div data-dojo-type="app/gxe/types/iso-19115-3/mrd/MD_StandardOrderProcess"> </div>
     </div>

     <!-- Role Name: distributorFormat MD_Format -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:distributorFormat',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_Distributor.distributorFormat}'">
          <div data-dojo-type="app/gxe/types/iso-19115-3/mri/MD_Format"> </div>
     </div>

      <!-- Role Name: distributorTransferOptions MD_DigitalTransferOptions -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:distributorTransferOptions',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_Distributor.distributorTransferOptions}'">
          <!--
               <div data-dojo-type="app/gxe/types/iso-19115-3/mrd/MD_Format"> </div>
          -->
     </div>

</div>