<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'mrd:MD_MediumFormatCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_MediumFormatCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>          
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.cpio}',value:'cpio'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.tar}',value:'tar'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.highSierra}',value:'highSierra'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.iso9660}',value:'iso9660'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.iso9660RockRidge}',value:'iso9660RockRidge'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.iso9600AppleHFS}',value:'iso9660AppleHFS'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_MediumFormatCode.udf}',value:'udf'"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>