<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'lan:countryCode'">

    <!-- <div data-dojo-type="gxe/form/iso/CodeSpaceAttribute"></div> -->
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute" data-dojo-props="value:'http://www.loc.gov/standards/iso366-1/'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
        
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'Netherlands',value:'nl'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'United States',value:'us',selected:true"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'Germany',value:'de'"></div> 
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'Hong Kong',value:'hk'"></div>               
              
        </div>
      </div>
    </div>

  </div>
</div>