<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:MD_Metadata',label:'${i18nISO19115.documentTypes.service.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      <div data-dojo-type="app/gxe/types/ISO19115/gmd/metadataEntity/MetadataSection"
        data-dojo-props="label:'${i18nISO19115.sections.metadata}'"></div>
      <div data-dojo-type="app/gxe/types/ISO19115/srv/ServiceIdentification"
        data-dojo-props="label:'${i18nISO19115.sections.identification}'"  ></div>
      <div data-dojo-type="app/gxe/types/ISO19115/gmd/distribution/Distribution"
        data-dojo-props="label:'${i18nISO19115.sections.distribution}'"></div>
	 <div data-dojo-type="app/gxe/types/ISO19115/gmd/dataQuality/Quality"
        data-dojo-props="label:'${i18nISO19115.sections.quality}'"></div>
    </div>
  </div>
</div>