/* RESET */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
body {
  --bs-font-sans-serif: sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  margin: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  font-size: 16px;
}
.g-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* DOJO/DIJIT OVERRIDES */
.calcite .dijitTitlePaneTitle,
.calcite .dijitTitlePaneTextNode {
  font-size: 12px;
}

.calcite .dijitTitlePaneTitle {
  padding: 4px 6px;
}

.calcite .dijitTitlePane {
  border: 1px solid #ebebeb;
}

.calcite .dijitTitlePaneContentOuter {
  /*border-top: 1px solid #ebebeb;*/
  border: none;
}

.calcite .esriSimpleSliderTL {
  top: 55px;
}

/* STYLES */
/* Note: you need to match or trump Calcite-Bootstrap specificity */

/* 
.g-app .tab-content {
  height: calc(100% - 113px);
}
*/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 24px 0;
  border-radius: 0px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.5;
      text-decoration: none;
      color: #0079c1;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      margin-left: -1px; }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px; }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #196fa6;
    border-color: #196fa6; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #196fa6;
    border-color: #196fa6;
    cursor: default; }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #a9a9a9;
    background-color: #ffffff;
    border-color: #cccccc;
    cursor: not-allowed; }

.progress {
  overflow: hidden;
  height: 24px;
  margin-bottom: 24px;
  background-color: #f4f4f4;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background-color: #196fa6;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px; }

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.tab-content {
  flex: 1 1 auto;
}

.g-app .tab-pane,
.g-app .tab-pane > div {
  height: 100%;
}

.g-app .tab-pane {
  height: 100%;
}

.g-indent {
  margin-left: 20px;
}

.g-loading {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url("images/LoadingAnimation16_Trans.gif");
  vertical-align: middle;
}

.g-modal-plot .modal-dialog {
  width: 800px;
}
.g-temporal-plot {
  min-width: 700px;
}
.g-temporal-plot .c3-axis-x .tick {
  display: none;
}

.g-browser-incompatible {
  margin: auto;
  display: none;
  width: 450px;
  text-align: center;
}

.g-app-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: #f8f8f8;
  display: none;
}
.g-app-loading .progress {
  width: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f8f8f8;
}
.g-app-loading .g-error {
  height: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.g-app-loading .progress {
  border-radius: 5px;
}
.g-app-loading .progress-bar {
  border-radius: 4px;
}

/* HEADER */
/* HEADER - BRANDING */
.g-branding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;  
}

.g-brand-logo {
  width: 28px;
  height: 28px;
}

.g-header .g-branding .navbar-brand {
  color: #404040;
  transition: color linear 250ms;
  float: left;
  padding:10px 20px;
  font-weight:400;
  font-size:16px
}

.g-header .g-branding .navbar-brand:hover {
  color: #000;
}

/* HEADER - NAV */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding:0 70px;
}

.nav .nav-pills {
  display: flex;
  align-items: baseline;
  font-weight: 200;
  color: #404040;
}

.g-header .navbar .nav-item {
  float: none;
}

.g-header .navbar .nav-item.active {
  background: transparent;
}

.g-header .nav .nav-item .nav-link {
  float: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-bottom: 2px;
  border-bottom: 4px solid transparent;
  background: transparent;
  color: #404040;
  transition: all linear 250ms;
}

.g-header .nav .nav-item .nav-link:hover,
.g-header .nav .nav-item .nav-link:focus {
  border-bottom: 4px solid #2890ce;
  color: #007ac2;
}

.g-header .nav .nav-item .nav-link.active {
  border-bottom: 4px solid #2890ce;
  background: transparent;
  color: #000;
}

.g-header .nav .nav-item .g-nav-dropdown-link:hover,
.g-header .nav .nav-item .g-nav-dropdown-link:focus {
  border: 0;
  background: transparent;
  color: #007ac2;
}

/* USER ACCOUNT */
.g-tools .g-signin,
.g-tools .g-signin {
  font-size: 16px;
  color: #404040;
  transition: color linear 250ms;
}

.g-tools .g-signin:hover,
.g-tools .g-signin:focus {
  color: #007ac2;
}

.g-user:hover {
  text-decoration: none;
}

.g-user-thumb {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 100%;
  background: #bbb;
}

.g-username {
  font-size: 16px;
  color: #404040;
  transition: color linear 250ms;
}

.g-user:hover .g-username,
.g-user:focus .g-username {
  color: #007ac2;
  text-decoration: underline;
}

/* SEARCH PANEL */
.g-search-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* SEARCH PANEL - SEARCHBAR ROW */
.g-search-bar-row {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #0670ae;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.g-search-bar {
  display: flex;
  align-items: center;
  width: 1024px;
  padding: 8px 0;
}

.g-search-bar-title {
  width: 30%;
  margin-right: 16px;
  font-size: 20px;
  color: #fff;
}

/* SEARCH PANEL - SEARCH INPUT OVERRIDES */
.g-search-bar .search-box {
  width: calc(70% - 48px);
  padding: 0px 16px;
}

.g-search-bar .search-box .input-group {
  display: flex;
  align-items: center;
  background: #fff;
}

.g-search-bar .search-box .input-group input {
  width: calc(100% - 151px);
  padding: 8px 4px;
  font-size: 16px;
}

.g-search-bar .search-box .input-group input:focus {
  box-shadow: none;
}

.g-search-bar .search-box .form-control {
  border: 0;
}

.g-search-bar .search-box .esri-icon-search {
  margin: 0 25px 0 15px;
  font-size: 16px;
  color: #404040;
}

.g-search-bar .search-box .btn {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 25px;
  border: 1px solid #fff;
  background: #004874;
  font-size: 14px;
}

/* SEARCH PANEL - CONTENT */
.g-search-content-row {
  display: flex;
  width: 1024px;
  padding: 12px 0px;
}

.g-search-pane-left {
  width: 30%;
  margin-right: 16px;
  
  position: sticky;
  top: 0px;
  align-self: flex-start;
  
}

.g-search-pane-right {
  width: calc(70% - 46px);
  /* padding: 15px 0; */
}

.g-filter-collapse {
  margin-bottom: 10px;
}

.g-filter-collapse.last {
  margin-bottom: 25px;
}

.g-filter-create-btn {
  display: flex;
  width: 100%;
  margin-top: 25px;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #2890ce;
  transition: background linear 250ms;
}

.g-filter-create-btn:hover {
  background: #0970ae;
}

.g-filter-create-btn label {
  margin: 0 0 0 15px;
  font-weight: 200;
  color: #fff;
  transition: color linear 250ms;
}

.g-filter-create-btn:hover label {
  cursor: pointer;
}

.g-filter-create-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: fill linear 250ms;
}

.g-search-content-row .g-drop-pane {
  border: 0;
}

.g-search-pane-left .dijitTitlePaneTitle {
  /* resolves map disappearing issue #63
  and will apply to all search facets */
  overflow-y: hidden !important;
  padding: 6px 10px;
  background: #fff;
  transition: background linear 250ms;
}

.g-search-pane-left .dijitTitlePaneTitle:hover {
  background: #f8f8f8;
}

.g-search-pane-left .dijitTitlePaneTextNode {
  font-size: 14px;
}

.g-search-pane-left .dijitTitlePaneContentInner {
  position: relative;
  padding: 8px;
}

/* SEARCH PANEL - COLLAPSIBLE CARDS */
.g-drop-pane .dijitTitlePaneTextNode {
  margin-left: 8px;
}

.g-drop-pane.fixed .dijitTitlePaneTextNode {
  margin-left: 0;
}

.g-drop-pane .dijitTitlePaneTitle.dijitTitlePaneTitleOpen.dijitOpen {
  background: #606060;
  color: #fff;
}

.g-drop-pane.fixed .dijitTitlePaneTitle {
  cursor: auto;
  pointer-events: none;
}

.g-drop-pane.fixed .dijitTitlePaneTitleFocus {
  cursor: auto;
  position: relative;
}

.g-drop-pane .g-drop-pane-arrow svg {
  width: 24px;
  height: 24px;
  fill: #959595;
  transform: rotate(-90deg);
  transition: transform ease-in-out 250ms;
}

.g-drop-pane .dijitOpen .g-drop-pane-arrow svg {
  fill: #fff;
  transform: rotate(0deg);
}

.g-drop-pane.fixed .g-drop-pane-arrow svg {
  display: none;
}

.g-drop-pane-tools {
  float: right;
  vertical-align: middle;
}

.g-drop-pane.fixed .g-drop-pane-tools {
  pointer-events: all;
}

.g-drop-pane-tools input {
  vertical-align: top;
  cursor: pointer;
}

.g-drop-pane-tools label {
  margin-left: 3px;
  font-size: 10px;
  font-weight: normal;
  cursor: pointer;
}

.g-drop-pane .g-drop-pane-tools svg {
  display: none;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.g-drop-pane .dijitOpen .g-drop-pane-tools svg {
  display: block;
}

.g-drop-pane .g-entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
}

.g-entry-links > div {
  max-width: 280px;
  padding: 2px 2px;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.g-entry-selected {
  font-weight: bold;
}

.g-entry-selected a::before {
  content: '\21D2   ';
}

.g-spatial-filter-map {
  height: 300px !important;
  width: auto !important;
}

.g-spatial-filter-relations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 0;
  font-size: 12px;
}

.g-spatial-filter-relation label {
  margin-left: 10px;
  font-weight: 200;
}

.g-spatial-filter-locator {
  position: absolute;
  z-index: 31;
  /* these dims should be fixed but they change in code */
  left: 25px !important;
  top: 25px !important;
}

/* APPLIED FILTERS */
.g-applied-filters {
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.g-applied-filters-clear {
  margin-bottom: 10px;
  color: #de2900;
}

.g-applied-filters-clear:hover,
.g-applied-filters-clear:focus {
  color: #de2900;
}

.g-entries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.g-applied-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 0;
  padding: 4px 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.g-applied-filter span {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.g-applied-filter a {
  display: flex;
  margin-left: 10px;
}

.g-applied-filter svg {
  width: 24px;
  height: 24px;
  fill: #959595;
}

/* SEARCH RESULTS PANE */

.g-search-results-pane {
  position: relative;
  /* height: calc(100% - 32px); */
  padding: 0px 16px;
}

.g-search-results-header {
  display: flex;
  justify-content: flex-end;
  /* border-bottom: 1px solid #e4e4e4; */
}

.g-search-results-sort {
  position: relative;
}

.g-search-results-sort-container {
  display: flex;
  align-items: center;
}

.g-search-results-sort-link {
  display: flex;
  align-items: center;
  color: #4c4c4c;
}

.g-search-results-sort-link-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transform: rotateY(180deg);
}

.g-search-results-sort-btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 15px;
}

.g-search-results-sort-btn.hidden {
  display: none;
}

.g-search-results-sort-btn svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.g-search-results-sort-btn.desc svg {
  transform: rotateX(180deg);
}

.g-search-results-sort-btn span {
  font-size: 14px;
  font-weight: 400;
}

.g-search-results-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid #e4e4e4; */
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 8px;
}

.g-search-results-pane .g-sort-dropdown {
  display: inline-block;
  width: 120px;
}
.g-search-results-pane .g-sort-dropdown .glyphicon {
  padding-left: 2px;
  margin-bottom: 2px;
}

.g-paging {
  display: inline-block;
  margin-left: 10px;
}
.g-paging-count {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
}
.g-paging .pagination {
  margin: 0;
  font-size: 14px;
}

.g-paging .pagination li a,
.g-paging .pagination li.disabled a {
  border: 0;
  background: transparent;
}

.g-paging .pagination li a:hover {
  color: #0079c1;
  text-decoration: underline;
}

.g-paging .pagination li a:focus {
  color: #0079c1;
}

.g-paging .pagination li a.g-paging-page-num {
  padding: 4px 10px;
  margin: 0 20px;
  background: #2890ce;
  color: #fff;
}

.g-search-results {
  width: 100%;
  /* height: calc(100% - 80px); */
  /* overflow: auto; */
}

/* ITEM CARD */
.g-item-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 12px 0;
  padding: 8px 8px 8px 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.g-item-card-content {
  max-width: 100%;
}

.g-item-card-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.g-item-card-content-header-info {
}
*/

.g-item-card-content-main {
  display: flex;
}

.g-item-card-content-info {
  flex: 1;
  min-width: 0;
}

g-item-card-content-info .g-item-card .g-item-title {
  font-weight: 400;
}

.g-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
}

.g-item-card-info-container {
  display: flex;
  align-items: center;
}

.g-item-card-info {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #959595;
}

.g-item-card-info svg {
  width: 16px;
  height: 16px;
  margin: 3px 4px 6px 0px;
}

.g-item-card .g-item-status {
  margin-right: 0.5em;
}

.g-item-card .g-item-description,
.g-item-card .g-item-owner-and-date {
  margin: 0px 0px 6px 0px;
  font-size: 12px;
}

.g-item-card .g-item-thumbnail {
  max-width: 64px;
  padding: 4px 4px;
}

.g-item-thumbnail img {
  width: 100%;
  height: auto;
}

.g-item-card .g-item-footprintNode {
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
}

.g-item-card .g-item-footprintMap {
  width: 300px !important;
  height:300px !important;
  margin: 0px;
  padding: 0px;
}
/* Style for descriptions creates a cap of a few lines of text  */
.g-item-card .g-item-description {
  max-height: 40px;
  overflow: hidden;
}

.g-item-card .g-item-actions {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.g-item-card .g-item-actions > a,
.g-item-card .g-item-actions > .dropdown {
  margin-right: 16px;
}

.g-item-card .g-item-actions > .dropdown > .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 20px;
}

.g-scrollable-typeahead .tt-menu {
  max-height: 200px;
  overflow-y: auto;
}

.g-validation-errors {
  margin-top: 12px;
  max-height: 200px;
  overflow-y: auto;
}

.g-mapframe-container {
  position: absolute;
  top: 48px;
  left: 0;
  bottom: 4px;
  right: 0;
  height: calc(100% - 96px);
}
.g-mapframe-container > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*
.g-input-number {
  width: 200px;
}
*/
.modal-body > .g-settings-pane {
  max-height: 420px;
  overflow-y: auto;
  padding-right: 10px;
}

.g-labels-right .form-group input {
  margin-bottom: 10px;
}

.g-labels-right .control-label {
  text-align: right;
  color: #6e6e6e;
  font-size: 14px;
}

.calcite .gxePrimaryToolbar > .gxeTabs > .gxeTabButton {
  border: 1px solid #ccc;
}

/*
.gxePrimaryToolbar > .gxeTabs > div {
  float: right;
}
.gxePrimaryToolbar > .gxeTabs > .gxeMessageArea {
  clear: right;
  position: relative;
  left: 200px;
  margin-top: -20px;
}
*/

.g-temporal-bar {
  margin-bottom: 5px;
}
.g-temporal-bar select {
  margin-left: 3px;
}
.g-temporal-bar label {
  font-size: 11px;
  margin-left: 10px;
}
.g-temporal-bar .calendar {
  width: 16px;
  height: 16px;
  margin: 4px 0px 8px 0px;
  vertical-align: top;
  cursor: pointer;
}
/*
.g-start-date {
}
*/
.g-end-date {
  float: right;
}
/*
.g-start-date .g-start-date-calendar {
}
.g-end-date .g-end-date-calendar {
}
.g-start-date .g-start-date-calendar-label {
}
.g-end-date .g-end-date-calendar-label {
}
*/
.g-temporal-d3 svg {
  /*font: 10px sans-serif;*/
  font-size: 9px;
}

.g-temporal-d3 .axis path,
.g-temporal-d3 .axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}

.g-temporal-d3 .dot {
  /* #0079c1 #818181 #1db87b #FFC300 #f6b052 #ff7f0e; */
  stroke: #818181;
  fill-opacity: 0;
}

.g-temporal-d3 .area {
  /* #818181 #a7a7a7 */
  fill: #a7a7a7;
}

.g-temporal-d3 .brush .extent {
  stroke: #fff;
  fill: #b3b3b3;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}

.g-temporal-d3 .resize path {
  /* #bfbfbf #b3b3b3 #818181 */
  fill: #0079c1;
  fill-opacity: 0.6;
  stroke: #0079c1;
  stroke-width: 1.5px;
}

.g-temporal-d3 .tooltip,
.g-spatial-filter-d3-tooltip {
  position: absolute;
  padding: 5px;
  pointer-events: none;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 5px;
  z-index: 99;
}

.dijitTooltipContainer,
.dijitTooltipContainer > div,
.dijitTooltipContainer > div > div,
.dijitTooltipContainer > div > div > div {
  width: 100%;
  height: 100%;
}

.g-preview-error {
  position: absolute;
  color: black;
  background-color: white;
  left: 32%;
  right: 32%;
  top: 50%;
  z-index: 1;
  padding: 3px;
  border: #000000 solid thin;
  border-radius: 4px;
  text-align: center;
}

.g-access-groups {
  margin: 0px;
  padding: 5px;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #cccccc;
  list-style-type: none;
}

.modal-dialog .navbar {
  min-height: 0px;
  margin-bottom: 8px;
}

/* ABOUT PANEL - CONTENT*/
.g-about-content-row {
  width: 1024px;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

/* FOOTER */
.g-footer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  background: #fff;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
}

.g-footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
  margin: auto;
}

.g-footer-link {
  margin-right: 20px;
}

/* Accessibility Changes */
.btn-success {
  color: #ffffff;
  background-color: #338033;
  border-color: #50834f;
}

a {
  color: #005e95;
  text-decoration: none;
}

a.dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #595959;
  background-color: #ffffff;
  border-color: #cccccc;
  cursor: not-allowed;
}

.offscreen {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(1px 1px 1px 1px);
  clip-path: inset(1px, 1px, 1px, 1px);
}

.skip-to-content.offscreen:focus {
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 0.625em 1.25em;
  background-color: #005e95;
  color: #fff;
  overflow: visible;
  clip-path: none;
  text-decoration: none;
}

.g-open-search-result-links-container {
  border: 0;
  box-shadow: none;
  background: transparent;
  margin-bottom: 12px;
}

.g-open-search-result-links {
  text-align: center;
}

.g-open-search-result-link {
  margin-left: 1em;
}

.g-range-label-link {
  margin-left: 10px;
}

/*
.g-basic-from-value {
  margin-right: 10px;
}
.g-basic-to-value {
}
*/

.g-basic-from-value-input {
  width: 140px;
}

.g-basic-to-value-input {
  width: 140px;
}

/*
.g-basic-from-value-input-label {
}

.g-basic-to-value-input-label {
}

.g-from-value {
}
*/

.g-to-value {
  float: right;
}

/*
.g-from-value-input {
}

.g-to-value-input {
}

.g-from-value-input-label {
}

.g-to-value-input-label {
}
*/
.g-input-field-note {
  font-size: 10px;
  font-style: italic;
}

.nav-padding-fix {
  padding: 0px !important;
}

.g-drop-pane .dijitTreeContent {
  cursor: pointer;
}

.g-dijitFolderClosed {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15 3l-6.7.002L6.98 2H4L2.7 3H1v11h14zm-1 10H2V7h12zm0-7H2V4h1.04l1.3-1h2.304l1.319 1H14z"/><path fill="none" d="M0 0h16v16H0z"/></svg>');
  height: 16px;
  width: 16px;
}

.g-dijitFolderOpened {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8.3 3.002L6.98 2H4L2.7 3H1v11h13l2-8h-2V3zM2 4h1.041L4.34 3h2.304l1.319 1.002L13 4v2H9L7.7 7h-4L2 11.408zm12.719 3l-1.5 6H2.458l1.929-5H8.04l1.3-1z"/><path fill="none" d="M0 0h16v16H0z"/></svg>');
  height: 16px;
  width: 16px;
}

.g-item-html {
  min-height: 200px; 
  max-height: 600px; 
  width: 100%; 
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.g-item-html-body {
  height: 100%;
}

.g-item-html-body iframe {
  border-color: lightgrey;
  border-style: solid;
  border-width: thin;
}
.g-keepSignedInCheck {
  position: relative;
  top: 2px;
  left: 2px;
}

.panel-danger {
  border-color: #e4a793; }
  .panel-danger > .panel-heading {
    color: #de2900;
    background-color: #f3ded7;
    border-color: #e4a793; }
    .panel-danger > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #e4a793; }
    .panel-danger > .panel-heading .badge {
      color: #f3ded7;
      background-color: #de2900; }
  .panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #e4a793; 
}

.btn-primary {
  color: #ffffff;
  background-color: #196fa6;
  border-color: #166090; }
  .btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #12517a;
    border-color: #051621; }
  .btn-primary:hover {
    color: #ffffff;
    background-color: #12517a;
    border-color: #0e3d5b; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #12517a;
    border-color: #0e3d5b; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #0e3d5b;
      border-color: #051621; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #196fa6;
    border-color: #166090; }
  .btn-primary .badge {
    color: #196fa6;
    background-color: #ffffff; }

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px; }
  
.btn-success {
  color: #ffffff;
  background-color: #5a9359;
  border-color: #50834f; }
  .btn-success:focus, .btn-success.focus {
    color: #ffffff;
    background-color: #477346;
    border-color: #20341f; }
  .btn-success:hover {
    color: #ffffff;
    background-color: #477346;
    border-color: #395d38; }
  .btn-success:active, .btn-success.active,
  .open > .btn-success.dropdown-toggle {
    color: #ffffff;
    background-color: #477346;
    border-color: #395d38; }
    .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
    .open > .btn-success.dropdown-toggle:hover,
    .open > .btn-success.dropdown-toggle:focus,
    .open > .btn-success.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #395d38;
      border-color: #20341f; }
  .btn-success:active, .btn-success.active,
  .open > .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
  fieldset[disabled] .btn-success:hover,
  fieldset[disabled] .btn-success:focus,
  fieldset[disabled] .btn-success.focus {
    background-color: #5a9359;
    border-color: #50834f; }
  .btn-success .badge {
    color: #5a9359;
    background-color: #ffffff; }
    
.form-control {
    @extend .form-control;
    font-size:16px;    
 } 
 
 .modal-title {
    @extend .modal-title;
    font-size:17px;    
 }
  .form-group {
    @extend .form-group;
    margin-bottom:15px;    
 }
 .g-label {    
    font-weight:bold;    
 }
 
 .dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border: 1px solid #efefef;
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }  
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #6e6e6e;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #6e6e6e;
  background-color: #f8f8f8; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #4c4c4c;
  text-decoration: none;
  outline: 0;
  background-color: #f8f8f8; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #a9a9a9; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #4c4c4c;
  white-space: nowrap; }
  
  .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }
  
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }
  
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.3333333333%; }
  .col-sm-2 {
    width: 16.6666666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.3333333333%; }
  .col-sm-5 {
    width: 41.6666666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.3333333333%; }
  .col-sm-8 {
    width: 66.6666666667%; }
}
  
  

 