<div class="item-card">
  <div class="item-card-inner">
    <div class="thumbnail-div thumbnail-placeholder"
      data-dojo-attach-point="thumbnailDiv">
      <img data-dojo-attach-point="thumbnailImage"/>
    </div>
    <div class="info-div">
      <h3 class="title" data-dojo-attach-point="titleNode"></h3>
      <div class="info" data-dojo-attach-point="typeNode"></div>
      <div class="info" data-dojo-attach-point="authorNode"></div>
      <div class="info" data-dojo-attach-point="dateNode"></div>
    </div>
    <div class="action-bar">
      <span class="message" data-dojo-attach-point="messageNode"></span>
      <a href="javascript:void(0)"
        data-dojo-attach-point="addButton"
        data-dojo-attach-event="onClick: addClicked"></a>
      <a href="javascript:void(0)"
        data-dojo-attach-point="detailsButton"
        data-dojo-attach-event="onClick: detailsClicked"></a>
      <div class="dropdown-container">
        <a href="javascript:void(0)"
          data-dojo-attach-point="linksButton"
          data-dojo-attach-event="onClick: linksClicked">
        </a>
        <div class="dropdown-content"
          data-dojo-attach-point="linksContent">
        </div>
      </div>
    </div>
  </div>
</div>
