<div class="item-card">
  <div class="item-card-inner">
    <div class="xthumbnail" data-dojo-attach-point="thumbnailNode"></div>
    <h3 class="title" data-dojo-attach-point="titleNode"></h3>
    <div class="info" data-dojo-attach-point="typeByOwnerNode"></div>
    <div class="info" data-dojo-attach-point="dateNode"></div>
    <div class="action-bar">
      <span class="message" data-dojo-attach-point="messageNode"></span>
      <a href="javascript:void(0)"
        data-dojo-attach-point="addButton"
        data-dojo-attach-event="onClick: addClicked"
        >?Add
      </a>
      <a href="javascript:void(0)"
        data-dojo-attach-point="detailsButton"
        data-dojo-attach-event="onClick: detailsClicked"
        >?Details
      </a>
    </div>
  </div>
</div>
