<div style="padding:20px; border:1px solid #ccc">
  <h4 style="margin:0;">Widget</h4>
  <div style="margin-top:10px;display:none;">
	  <input type="text" style="width:200px;"
	    data-dojo-attach-point="qNode" />
	  <button data-dojo-attach-point="xsearchButton"
	    data-dojo-attach-event="onclick: searchClicked2"
	    >Search</button>
  </div>
  <div>
    <div>
	    <label>q
	      <input data-dojo-type="dijit/form/TextBox" 
	        data-dojo-attach-point="qBox" data-dojo-props="trim:true"/>
	    </label>
	    <button data-dojo-attach-point="searchButton"
	      data-dojo-attach-event="onclick: searchClicked"
	      >Search
	    </button>
    </div>
    <div>
      <label>target
        <input data-dojo-type="dijit/form/TextBox" 
          data-dojo-attach-point="targetBox" data-dojo-props="trim:true"/>
      </label>
    </div>
  </div>
  <div>
    <textarea style="margin-top:10px;width:300px;height:50px"
      data-dojo-attach-point="textareaNode">
    </textarea>
  </div>
</div>