<div class="geoportal-search search-pane">
  <!--<h4 style="margin:0;">Widget</h4>-->
  <div>
    <div class="search-bar main-search-bar">
      <div data-dojo-attach-point="searchBoxNode"></div>
      <div data-dojo-attach-point="loadingNode"></div>
      <div style="clear:both"></div>
    </div>
    <!--
    <div>
      <label>target
        <input data-dojo-type="dijit/form/TextBox"
          data-dojo-attach-point="targetBox" data-dojo-props="trim:true"/>
      </label>
    </div>
    -->
  </div>
  <div class="search-pane-content" data-dojo-attach-point="contentNode">
    <div data-dojo-attach-point="resultsPaneNode"></div>
  </div>
  <div class="search-pane-footer" data-dojo-attach-point="footerNode">
    <div data-dojo-attach-point="pagingNode"></div>
    <div style="clear:both"></div>
  </div>
</div>
