<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:lineage',minOccurs:0,showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:LI_Lineage',minOccurs:0">

      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'gmd:statement',
          label:'${i18nISO19115.LI_Lineage.statement}'">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
          <div data-dojo-type="app/gxe/types/ISO19115/gmd/PT_FreeText_LargeArea" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>          
      </div>
      
    </div>
  </div>

</div>