<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'gco:CharacterString',minOccurs:1">
    <!--<div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}applicationProfile'"></div>-->
    <!--<div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">-->
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
       <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.CSV}',value:'CSV'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.FGDB}',value:'FGDB'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.GEOJSON}',value:'GEOJSON'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.GEOPACKAGE}',value:'GEOPACKAGE'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.GEOTIFF}',value:'GEOTIFF'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.GML}',value:'GML'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.KML}',value:'KML'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.SHP}',value:'SHP'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.ARCHIVE_DATASET}',value:'ARCHIVE_DATASET'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.SDS_VIEW}',value:'SDS_VIEW'"></div>
		<div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.OTHERDOC}',value:'OTHERDOC'"></div>
		  <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nISO19115.CI_ApplicationProfile.OTHERS}',value:'OTHERS'"></div>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>