<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
    data-dojo-props="target:'gmd:CI_OnlineResource',minOccurs:0">

    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gmd:linkage',
        label:'${i18nISO19115.CI_OnlineResource.linkage}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
        data-dojo-props="target:'gmd:URL'"></div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gmd:protocol',minOccurs:0,
        label:'${i18nISO19115.CI_OnlineResource.protocol}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
        data-dojo-props="target:'gco:CharacterString'"></div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gmd:applicationProfile',minOccurs:0,
        label:'${i18nISO19115.CI_OnlineResource.applicationProfile}'">
        <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
        <div data-dojo-type="app/gxe/types/ISO19115/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gmd:name',minOccurs:0,
        label:'${i18nISO19115.CI_OnlineResource.name}'">
        <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
        <div data-dojo-type="app/gxe/types/ISO19115/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
    </div>

    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gmd:description',minOccurs:0,
        label:'${i18nISO19115.CI_OnlineResource.description}'">
        <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
        <div data-dojo-type="app/gxe/types/ISO19115/gmd/PT_FreeText_Area" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
      data-dojo-props="target:'gmd:function',
        label:'${i18nISO19115.CI_OnlineResource.sFunction}',minOccurs:0">
      <div data-dojo-type="app/gxe/types/ISO19115/gmd/citation/CI_OnlineFunctionCode">
      </div>
    </div>

  </div>

</div>