<div data-dojo-attach-point="contentNode">
     <!-- title + lede -->
     <div class="title page-header">
         <div class="container-fluid">
             <div class="row title">
                 <div class="col-xs-12">                        
                     <h1>Geoportal</h1>                                           
                     <p class="lead">Tag line here</p>
                 </div>
             </div>
         </div>
     </div>
        
	 <!-- main -->          
	 <div class="content main">
	    <div class="container-fluid">
	    <div class="row">
	        <div class="col-xs-12">         
	            <div id="content" class="row">
	                <div class="col-xs-12">                                           
				<h2>Who We Are</h2>
				<p>At ille pellit, qui permulcet sensum voluptate. Sed in rebus apertissimis nimium longi sumus. Quorum sine causa fieri nihil putandum est. Atqui reperies, inquit, in hoc quidem pertinacem; Tu vero, inquam, ducas licet, uterque enim summo bono fruitur, id est voluptate. Nemo nostrum istius generis asotos iucunde putat vivere. </p>
	                </div>
	            </div>     
	            </div>
	    </div>
	    </div>
	</div>

	 <div class="container-fluid">
	 <div class="row">
	 <div class="col-xs-12">
	 	<div class="row">
	 	<div class="col-xs-12 col-md-9">
	    	<h2>What We Do</h2>
	        <div class="row">
	        <div class="col-xs-12">
	        	<p>Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Idem iste, inquam, de voluptate quid quoque iucunditatem, si vis transfer in animum; Non laboro, inquit, de nomine. Quae cum dixisset, finem ille.</p>
	         </div>
	        </div>
	    </div>
	 	</div>
	 	<div class="row bg-info">
	 	<div class="col-xs-12 col-md-3">     
			<h4>Contact Us</h4>
			<p>For questions or suggestions for improvement contact <a href="#">SDI</a> Program Office.</p>
	 	</div>
	 	</div>
	 </div>
	 </div>
	 </div>
 </div> 