<div data-dojo-attach-point="contentNode">
  <div class="g-about-content-row">
    <!-- title + lede -->
    <div class="title page-header">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-xs-12">
            <h1>Geospatial Inventory Browser</h1>
            <p class="lead">This application allows you to find both current and 
              archived TVA geospatial resources.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- main -->
    <div class="content main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div id="content" class="row">
              <div class="col-xs-12">
                <h2>How to Use This Application</h2>
                <h4>Narrowing Results</h4>
                <p><big>
                  This application works very much like a retail site where you 
                  try to find a specific product meeting certain specifications. 
                  On the left hand side, you see a panel with a number of options 
                  that allow you to filter the content of the Inventory via simple 
                  point-and-click actions. The individual options ('Map', 'Time 
                  Period', 'Owner', etc) are called 'facets'.
                </big></p>
                <p><big>
                  For example, if you are interested in items on 'Linen', you would 
                  filter based on the Type Media facet to open its contents. You 
                  will see a list of type media and an inidication of how many 
                  items in the Inventory are of the different types. Select your 
                  favorite type and the Inventory will filter contents to only 
                  show those items that have your selected media type.
                </big></p>
                <p><big>
                  You may combine multiple facets when finding the specific content. 
                  Once you select a facet, the other facets will be updated to 
                  reflect the remaining set of items in the Inventory. Try selecting 
                  the Media Type 'Linen' and then open the facet 'Disposition'. 
                  You will notice that the different dispositions correspond to 
                  those items on linen. This mechanism is very similar to the 
                  filter capability in Microsoft Excel. 
                </big></p>
                <h4>Broadening Results</h4>
                <p><big>
                  If you select a facet, you will see it listed in the 'Filters' 
                  section above the result. If you click on the X in one of the 
                  listed filters, this will clear the choice for the corresponding 
                  facet from the filter and you will notice that additional results 
                  are displayed and also that the facets now represent the broader 
                  resultset. The mechanism of narrowing and broadening results 
                  gives you a lot of flexibility in finding the content that fits 
                  your need.
                </big></p>
                <h4>Using Results</h4>
                <p><big>
                  Once you have located your desired result(s), there are a couple 
                  things you can do. Every result item has a link labeled 'Details'. 
                  Click this to see the full information known about the Inventory item.
                </big></p>
                <p><big>
                  For archive items included in the Inventory the details are 
                  limited to the know information such as disposition, media type, 
                  data category, etc. For map services, you may see a link to 
                  the map service 
                </big></p>
              </div>
            </div>     
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <h4>Contact Us</h4>
              <p>For questions or suggestions, please contact the TVA GIS team.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
