<div data-dojo-attach-point="contentNode">
     <!-- title + lede -->
     <div class="title page-header">
         <div class="container-fluid">
             <div class="row title">
                 <div class="col-xs-12">                        
                     <h1>Geoportal</h1>
                     <p class="lead">Find relevant and usable geospatial resources.</p>
                 </div>
             </div>
         </div>
     </div>
        
	 <!-- main -->          
	 <div class="content main">
	    <div class="container-fluid">
	    <div class="row">
	        <div class="col-xs-12">         
	            <div id="content" class="row">
	                <div class="col-xs-12">                                           
						<h2>Who We Are</h2>
						<p><big>We focus on the design, development and support of Spatial Data Infrastructure solutions.</big></p>
	                </div>
	            </div>     
	            </div>
	    </div>
	    </div>
	</div>

	 <div class="container-fluid">
	 <div class="row">
	 <div class="col-xs-12">
	  
	 	<div class="row">
	 	<div class="col-xs-12 col-md-12">
	    	<h2>What We Do</h2>
	        <div class="row">
	        <div class="col-xs-12">
	        	<p><big>We provide a standards-based metadata catalog that enables discovery and use of geospatial resources, including data and services.</big> </p>
	         </div>
	        </div>
	    </div>
	 	</div>
	 	 
	 	<div class="row">
	 	<div class="col-xs-12 col-md-9">     
			<h4>Contact Us</h4>
			<p>For supported features, click <a href="https://github.com/Esri/geoportal-server-catalog/wiki/Features">here</a> 
				<br />For questions or suggestions, please submit your <a href="https://github.com/Esri/geoportal-server-catalog/issues">feedback</a>.
			</p>
	 	</div>
	 	</div>
	 </div>
	 </div>
	 </div>
 </div> 