<div class="g-app" data-dojo-attach-point="contentNode">
	<nav class="navbar navbar-inverse">
    <!-- <div class="navbar-header"><a class="navbar-brand" href="#">${i18n.nav.brand}</a></div>-->
	  <ul class="nav navbar-nav">
	    <li class="nav-item active">
	      <a class="nav-link" href="#searchPanel" data-toggle="tab">${i18n.nav.search} <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#mapPanel" data-toggle="tab">${i18n.nav.map}</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#aboutPanel" data-toggle="tab">${i18n.nav.about}</a>
	    </li>
	  </ul>
	  
	  <div class="g-tools pull-right">
	    <span class="g-username" data-dojo-attach-point="usernameNode"></span>
	    <a class="g-signin" href="#"
	      data-dojo-attach-point="signInNode" 
	      data-dojo-attach-event="onclick: signInClicked"
	      >${i18n.nav.signIn}</a>
		  <div id="idAppDropdown" class="dropdown pull-right g-options">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
		      ><span class="glyphicon glyphicon-menu-hamburger"></span></a>
	      <ul class="dropdown-menu">
	         <li class="divider"></li>
           <li data-role="publisher" data-dojo-attach-point="createMetadataNode">
             <a href="#" class="small" data-dojo-attach-event="onclick: createMetadataClicked">
               ${i18n.nav.options.createMetadata}
             </a>
           </li>
           <li data-role="publisher" data-dojo-attach-point="uploadNode">
             <a href="#" class="small" data-dojo-attach-event="onclick: uploadClicked">
               ${i18n.nav.options.uploadMetadata}
             </a>
           </li>	         
	         <li class="divider"></li>
           <li data-dojo-attach-point="createAccountNode">
             <a href="#" class="small" target="_blank" data-dojo-attach-point="createAccountLink">
               ${i18n.nav.options.createAccount}
             </a>
           </li>
           <li data-dojo-attach-point="myProfileNode">
             <a href="#" class="small" target="_blank" data-dojo-attach-point="myProfileLink">
               ${i18n.nav.options.myProfile}
             </a>
           </li>
	         <li data-dojo-attach-point="signOutNode" >
	           <a href="#" class="small" data-dojo-attach-event="onclick: signOutClicked">
	             ${i18n.nav.signOut}
	           </a>
	         </li>
	      </ul>
		  </div>
	  </div> 
	  
	</nav>
  <div class="tab-content">
    <div id="searchPanel" role="tabpanel" class="tab-pane fade in active" >
		  <div data-dojo-type="app/main/SearchPanel" data-dojo-attach-point="searchPanel"></div>
    </div>
    <div id="mapPanel" role="tabpanel" class="tab-pane fade" >
      <div data-dojo-type="app/main/MapPanel" data-dojo-attach-point="mapPanel"></div>
    </div>
    <div id="aboutPanel" role="tabpanel" class="tab-pane fade" >
      <div data-dojo-type="app/main/AboutPanel" data-dojo-attach-point="aboutPanel"></div>
    </div>
  </div>
</div>