<div class="g-app" data-dojo-attach-point="contentNode">
  <a class="offscreen skip-to-content" href="#searchBox">
    Skip to main content
  </a>

  <nav class="g-header navbar">
 	<div class="container-fluid">
	    <figure class="g-branding"  data-dojo-attach-event="onclick: _onHome">
	      <img class="g-brand-logo" src="images/esri-logo-sym.png" />
	      <span class="navbar-brand">${i18n.nav.brand}</span>
	    </figure>
	
    <ul class="nav nav-pills" id="mytab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          aria-current="page"
          href="#searchPanel"
          id="search-tab" data-bs-toggle="tab"          
          role="tab" 
          aria-controls="searchPanel" aria-selected="true"          
          data-dojo-attach-point="searchPanelLink"
        >
          ${i18n.nav.catalog}
          <span class="visually-hidden">(current)</span>
        </a>
      </li>

      <li class="nav-item" role="presentation" data-dojo-attach-point="mapPanelBtnNode">
        <a class="nav-link" id="map-tab"  href="#mapPanel" data-bs-toggle="tab" role="tab" aria-controls="mapPanel">
          ${i18n.nav.map}
        </a>
      </li>

      <li class="nav-item" data-dojo-attach-point="apiPanelBtnNode">
        <a class="nav-link" id="api-tab"  href="#apiPanel" data-bs-toggle="tab" role="tab" aria-controls="apiPanel">
          ${i18n.nav.api}
        </a>
      </li>

      <li class="nav-item" data-role='admin' data-dojo-attach-point="collectionsPanelBtnNode">
      	<a class="nav-link" id="collections-tab" data-bs-target="#collectionsPanel" href="#collectionsPanel" data-bs-toggle="tab" role="tab" aria-controls="collectionsPanel">
          Collections
        </a>
      </li>
      
      <li class="nav-item" data-dojo-attach-point="cartPanelBtnNode">
        <a class="nav-link" href="#cartPanel" data-bs-toggle="tab">
          Shopping Cart
        </a>
      </li>
      
      <li class="nav-item dropdown" data-dojo-attach-point="adminOptionsBtnNode">
        <a
          class="nav-link dropdown-toggle"
          href="javascript:void(0)"
          aria-label="Dropdown Menu"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span>${i18n.nav.admin}</span>        
        </a>

        <ul class="dropdown-menu">         
          <li data-role="publisher">
            <a
              href="javascript:void(0)"
              class="dropdown-item"
              data-dojo-attach-event="onclick: createMetadataClicked"
            >
              ${i18n.nav.options.createMetadata}
            </a>
          </li>
          <li data-role="publisher">
            <a
              href="javascript:void(0)"
              class="dropdown-item"
              data-dojo-attach-event="onclick: uploadClicked"
            >
              ${i18n.nav.options.uploadMetadata}
            </a>
          </li>
          <!-- TODO provide edit facet functionality in App.js
          <li data-role="publisher">
            <a
              href="javascript:void(0)"
              class="small"
              data-dojo-attach-event="onclick: editFacetClicked"
            >
              ${i18n.nav.options.editFacet}
            </a>
          </li>
        --></ul>
      </li>

      <li class="nav-item" data-dojo-attach-point="aboutPanelBtnNode">
      	<a class="nav-link" id="about-tab" data-bs-target="#aboutPanel" href="#aboutPanel" data-bs-toggle="tab" role="tab" aria-controls="aboutPanel">
           ${i18n.nav.about}
        </a>
      </li>
    </ul>

    <div class="g-tools">
      <div
        id="idAppDropdown"
        class="dropdown g-options"
        data-dojo-attach-point="userOptionsNode"
      >
        <a
          href="javascript:void(0)"
          class="dropdown-toggle g-user"
          aria-label="Dropdown Menu"
          data-bs-toggle="dropdown"
        >
          <img class="g-user-thumb" src="images/account-placehold.svg" />
          <span class="g-username" data-dojo-attach-point="usernameNode"></span>
        </a>

        <ul class="dropdown-menu">         
          <li data-dojo-attach-point="createAccountNode">
            <a
              href="javascript:void(0)"
              class="small"
              target="_blank"
              data-dojo-attach-point="createAccountLink"
            >
              ${i18n.nav.options.createAccount}
            </a>
          </li>
          <li data-dojo-attach-point="myProfileNode">
            <a
              href="javascript:void(0)"
              class="small"
              target="_blank"
              data-dojo-attach-point="myProfileLink"
            >
              ${i18n.nav.options.myProfile}
            </a>
          </li>
          <li data-dojo-attach-point="signOutNode">
            <a
              href="javascript:void(0)"
              class="small"
              data-dojo-attach-event="onclick: signOutClicked"
            >
              ${i18n.nav.signOut}
            </a>
          </li>
        </ul>
      </div>

      <a
        class="g-signin"
        href="javascript:void(0)"
        data-dojo-attach-point="signInNode"
        data-dojo-attach-event="onclick: signInClicked"
      >
        ${i18n.nav.signIn}
      </a>
    </div>
    </div>
  </nav>

  <div class="tab-content" id="myTabContent">
    <div id="searchPanel" role="tabpanel" class="tab-pane fade show active">
      <div
        data-dojo-type="app/main/SearchPanel"
        data-dojo-attach-point="searchPanel"
      ></div>
    </div>
    <div id="mapPanel" role="tabpanel" class="tab-pane container fade">
      <div
        data-dojo-type="app/main/MapPanel"
        data-dojo-attach-point="mapPanel"
      ></div>
    </div>
    <div id="apiPanel" role="tabpanel" class="tab-pane fade">
      <div
        data-dojo-type="app/main/APIPanel"
        data-dojo-attach-point="apiPanel"
      ></div>
    </div>
    <div id="collectionsPanel" role="tabpanel" class="tab-pane fade">
      <div
        data-dojo-type="app/main/CollectionsPanel"
        data-dojo-attach-point="collectionsPanel"
      ></div>
    </div>
    <div id="cartPanel" role="tabpanel" class="tab-pane fade">
      <div
        data-dojo-type="app/main/CartPanel"
        data-dojo-attach-point="cartPanel"
      ></div>
    </div>
    <div id="aboutPanel" role="tabpanel" class="tab-pane container fade">
      <div
        data-dojo-type="app/main/AboutPanel"
        data-dojo-attach-point="aboutPanel"
      ></div>
    </div>
  </div>

  <div class="g-footer">
    <div class="g-footer-row">
      <span>${i18n.footer.copyright}</span>

      <!-- Quick links
      <section class="g-footer-section">
        
        <a href="javascript:void(0)" class="g-footer-link">${i18n.footer.quickLink1}</a>
        <a href="javascript:void(0)">${i18n.footer.quickLink2}</a>
      </section>
      -->

      <!-- Social media icons and links
      <section class="g-footer-section">
        <a href="javascript:void(0)">
          <img src="images/facebook.svg" alt="Facebook Link">
        </a>

        <a href="javascript:void(0)">
          <img src="images/twitter.svg" alt="Twitter Link">
        </a>
      </section>
      -->
    </div>
  </div>
</div>
