<div style="display: flex; width: 100%">
  <!-- TODO: separate styles to stylesheet -->

  <div
    style="
      width: 450px;
      padding: 10px 10px 0 10px;
      display: flex;
      flex-direction: column;
    "
  >
    <div
      style="
        background-color: white;
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        padding: 10px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 10px 0;
        "
      >
        <p style="font-weight: bold; font-size: 18px; margin: 0 15px 0 0">
          Collections
        </p>
        <div style="display: flex; align-items: center">
          <p
            class="collections-action"
            style="
              color: rgb(0, 102, 255);
              margin: 0 15px 0 0;
              cursor: pointer;
              padding: 0;
              font-size: 14px;
            "
          >
            New
          </p>
          <p
            class="collections-action"
            style="
              color: rgb(219, 38, 38);
              cursor: pointer;
              padding: 0;
              margin: 0;
              font-size: 14px;
            "
          >
            Delete
          </p>
        </div>
      </div>
      <div style="position: relative; margin: 0 0 10px 0">
        <input
          type="text"
          style="
            width: 100%;
            border: 1px solid #e6e6e6;
            background-color: #f7f7f7;
            height: 35px;
            padding: 0 0 0 40px;
            font-size: 14px;
          "
          placeholder="Search..."
        />
        <div style="position: absolute; top: 3px; left: 12px; width: 20px">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              fill="darkgray"
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            />
          </svg>
        </div>
      </div>
      <div
        class="container-list"
        style="height: calc(100% - 90px); overflow-y: scroll"
      >
        <div class="list-item"><input type="checkbox" />Collection 1</div>
        <div class="list-item"><input type="checkbox" />Collection 2</div>
        <div class="list-item"><input type="checkbox" />Collection 3</div>
        <div class="list-item"><input type="checkbox" />Collection 4</div>
        <div class="list-item"><input type="checkbox" />Collection 5</div>
        <div class="list-item"><input type="checkbox" />Collection 6</div>
        <div class="list-item"><input type="checkbox" />Collection 7</div>
        <div class="list-item"><input type="checkbox" />Collection 8</div>
        <div class="list-item"><input type="checkbox" />Collection 9</div>
        <div class="list-item"><input type="checkbox" />Collection 10</div>
        <div class="list-item"><input type="checkbox" />Collection 11</div>
        <div class="list-item"><input type="checkbox" />Collection 12</div>
        <div class="list-item"><input type="checkbox" />Collection 13</div>
        <div class="list-item"><input type="checkbox" />Collection 14</div>
        <div class="list-item"><input type="checkbox" />Collection 15</div>
        <div class="list-item"><input type="checkbox" />Collection 16</div>
        <div class="list-item"><input type="checkbox" />Collection 17</div>
        <div class="list-item"><input type="checkbox" />Collection 18</div>
        <div class="list-item"><input type="checkbox" />Collection 19</div>
        <div class="list-item"><input type="checkbox" />Collection 20</div>
      </div>
    </div>
    <div
      style="
        background-color: white;
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
      "
    >
      GeoJSON: place
    </div>
  </div>
  <div id="mapViewContainerCollections">
    <div
      class="g-mapframe-container-norm"
      id="mapNode"
      data-dojo-attach-point="mapNode"
    ></div>
    <div id="tableContainer" class="tableContainer"></div>
  </div>
  <div id="container-confirm-modal">
    <div id="confirm-modal">
      <div id="confirm-modal-header" class="confirm-modal-section">
        <p>Delete Collection?</p>
        <div id="modal-close-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>
      </div>
      <div id="confirm-modal-body" class="confirm-modal-section">
        <p>
          Are you sure you would like to delete collection(s)? This action is
          irreversible.
        </p>
      </div>

      <div id="confirm-modal-footer" class="confirm-modal-section">
        <button id="confirm-modal-secondary" class="confirm-modal-button">
          Cancel
        </button>
        <button id="confirm-modal-primary" class="confirm-modal-button">
          Delete
        </button>
      </div>
    </div>
  </div>
  <style>
    .collections-action:hover {
      text-decoration: underline;
    }

    .list-item:last-child {
      border-bottom: 1px solid rgb(206, 206, 206);
    }

    .list-item {
      padding: 3px;
      border-left: 1px solid rgb(206, 206, 206);
      border-top: 1px solid rgb(206, 206, 206);
      border-right: 1px solid rgb(206, 206, 206);
    }

    .list-item > input {
      margin: 0 10px 0 10px;
    }

    #mapViewContainerCollections {
      display: flex;
      width: 100%;
    }

    .g-mapframe-container-norm {
      position: initial;
      top: 48px;
      left: 0;
      bottom: 4px;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
    }

    .g-mapframe-container-norm > iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    #container-confirm-modal {
      width: 100%;
      height: calc(100% - 100px);
      background-color: rgb(0, 0, 0, 0.2);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #confirm-modal {
      width: 700px;
      height: 250px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .confirm-modal-section {
      padding: 10px;
    }

    #confirm-modal-header {
      flex: 0 0 50px;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    #confirm-modal-header > p {
      margin: 0;
      padding: 0;
    }

    #confirm-modal-body {
      flex: 1 1 auto;
    }

    #confirm-modal-footer {
      flex: 0 0 50px;
      display: flex;
      justify-content: flex-end;
    }

    .confirm-modal-button {
      border: none;
      padding: 5px;
      margin-left: 10px;
      min-width: 100px;
      border-radius: 5px;
    }

    #confirm-modal-secondary {
      background-color: white;
      border: 1px solid rgb(0, 102, 255);
      color: rgb(0, 102, 255);
    }

    #confirm-modal-primary {
      background-color: rgb(240, 27, 27);
      color: white;
    }

    #modal-close-button {
      width: 15px;
      cursor: pointer;
    }
  </style>
</div>
