<div class="container-stac-admin">
  <!-- TODO: separate styles to stylesheet -->

  <div id="left-panel">
    <div id="list-view" data-dojo-attach-point="leftPanelListView">
      <div class="collections-section">
        <div class="collections-header">
          <p style="font-weight: bold; font-size: 18px; margin: 0 15px 0 0">
            Collections
          </p>
          <div style="display: flex; align-items: center">
            <p
              class="collections-action"
              data-dojo-attach-point="newCollection"
            >
              New
            </p>
            <p
              class="collections-action"
              style="
                color: rgb(219, 38, 38);
                cursor: pointer;
                padding: 0;
                margin: 0;
                font-size: 14px;
              "
              data-dojo-attach-point="deleteCollection"
            >
              Delete
            </p>
          </div>
        </div>
        <div class="search-input-container">
          <input type="text" class="search-input" placeholder="Search..." />
          <div style="position: absolute; top: 3px; left: 12px; width: 20px">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path
                fill="darkgray"
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
              />
            </svg>
          </div>
        </div>
        <div class="container-collections-list">
          <div class="collections-list">
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Rotterdam
            </div>

            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Hamburg
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Antwerp
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Marseille
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Gothenburg
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Genoa
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Osaka
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Busan
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Manila
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Valencia
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Seattle
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Vancouver
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 13
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 14
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 15
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 16
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 17
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 18
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 19
            </div>
            <div class="list-item">
              <input class="list-item-checkbox" type="checkbox" />Collection 20
            </div>
          </div>
        </div>
      </div>
      <div class="info-section" style="display: flex; flex-direction: column">
        <div
          class="info-section-tabs"
          style="
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
          "
        >
          <div
            class="info-collections-tab"
            style="flex-grow: 1; padding: 10px 0; color: #0066ff"
          >
            Collections
          </div>
          <div
            class="info-items-tab"
            style="
              flex-grow: 1;
              padding: 10px 0;
              background-color: #e6e6e6;
              border-bottom: 1px solid #cecece;
              border-left: 1px solid #cecece;
            "
          >
            Items
          </div>
        </div>
        <div class="info-body">
          <div class="info-body-header">
            <p class="info-body-title">GEOJSON: Rotterdam</p>
            <div class="info-action-container">
              <p class="info-zoom-action">Zoom</p>
              <p
                data-dojo-attach-point="updateCollection"
                class="info-update-action"
              >
                Update
              </p>
            </div>
          </div>
          <div class="info-table-wrapper">
            <table class="info-table">
              <tbody>
                <tr>
                  <td>created</td>
                  <td>4/23/2025, 4:47 PM</td>
                </tr>
                <tr>
                  <td>gsdb:crs</td>
                  <td>EPSG:4326</td>
                </tr>
                <tr>
                  <td>gsdb:status</td>
                  <td>active</td>
                </tr>
                <tr>
                  <td>updated_date</td>
                  <td>2/24/2025, 5:40 AM</td>
                </tr>
                <tr>
                  <td>xom:discipline</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>xom:ecl_id</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>xom:ecl_version</td>
                  <td>5.2</td>
                </tr>
                <tr>
                  <td>xom:edp_equip_id</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <td>xom:site_local_crs</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <td>xom:sitename</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <td>xom:source_key_id</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <td>sampledata</td>
                  <td>value</td>
                </tr>
                <tr>
                  <td>sampledata</td>
                  <td>value</td>
                </tr>
                <tr>
                  <td>sampledata</td>
                  <td>value</td>
                </tr>
                <tr>
                  <td>sampledata</td>
                  <td>value</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="create-view" data-dojo-attach-point="leftPanelCreateView">
      <p>Create New Collection</p>
      <input type="text" />
      <input type="text" />
      <input type="text" />
      <input type="text" />
      <button data-dojo-attach-point="createCollection">
        Create Collection
      </button>
    </div>
  </div>
  <div id="mapViewContainerCollections">
    <div
      class="g-mapframe-container-norm"
      id="mapNode"
      data-dojo-attach-point="mapNode"
    ></div>
    <!-- <div id="tableContainer" class="tableContainer"></div> -->
  </div>
  <div id="container-confirm-modal" data-dojo-attach-point="modalContainer">
    <div id="confirm-modal">
      <div id="confirm-modal-header" class="confirm-modal-section">
        <p>Delete Collection?</p>
        <div id="modal-close-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>
      </div>
      <div id="confirm-modal-body" class="confirm-modal-section">
        <p>
          Are you sure you would like to delete collection(s)? This action is
          irreversible.
        </p>
      </div>

      <div id="confirm-modal-footer" class="confirm-modal-section">
        <button
          id="confirm-modal-secondary"
          class="confirm-modal-button"
          data-dojo-attach-point="modalSecondaryButton"
        >
          Cancel
        </button>
        <button
          id="confirm-modal-primary"
          class="confirm-modal-button"
          data-dojo-attach-point="modalPrimaryButton"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <style>
    .container-stac-admin {
      display: flex;
      width: 100%;
    }

    #list-view {
      height: 100%;
      width: 100%;
      display: flex;
      /* display: none; */
      flex-direction: column;
    }

    #create-view {
      height: 100%;
      width: 100%;
      display: flex;
      display: none;
      flex-direction: column;
    }

    #left-panel {
      width: 400px;
      padding: 10px 10px 0 10px;
    }

    .collections-section {
      background-color: white;
      width: 100%;
      flex-grow: 1;
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    .collections-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 10px 0;
    }

    .search-input {
      width: 100%;
      border: 1px solid #e6e6e6;
      background-color: #f7f7f7;
      height: 35px;
      padding: 0 0 0 40px;
      font-size: 14px;
    }

    .search-input-container {
      position: relative;
      margin: 0 0 10px 0;
    }

    .container-collections-list {
      flex: 1 1 0;
      display: flex;
      overflow: hidden;
    }

    .collections-list {
      flex: 1 1 0;
      overflow-y: scroll;
    }

    .collections-action {
      color: #0066ff;
      margin: 0 15px 0 0;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
    }

    .collections-action:hover {
      text-decoration: underline;
    }

    .list-item:last-child {
      border-bottom: 1px solid rgb(206, 206, 206);
    }

    .list-item {
      font-size: 14px;
      padding: 6px 3px;
      border-left: 1px solid rgb(206, 206, 206);
      border-top: 1px solid rgb(206, 206, 206);
      border-right: 1px solid rgb(206, 206, 206);
    }

    .list-item-checkbox {
      margin: 0 10px 0 10px;
      cursor: pointer;
    }

    .info-section {
      background-color: white;
      width: 100%;
      margin-bottom: 10px;
      flex-grow: 1;
    }

    .info-collections-tab {
      cursor: pointer;
    }

    .info-collections-tab:hover {
      text-decoration: underline;
    }

    .info-body {
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    .info-body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info-action-container {
      display: flex;
    }

    .info-zoom-action {
      color: #414141;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
      margin-right: 15px;
    }

    .info-zoom-action:hover {
      text-decoration: underline;
    }

    .info-update-action {
      color: #0066ff;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
    }

    .info-update-action:hover {
      text-decoration: underline;
    }

    .info-body-title {
      font-weight: bold;
      font-size: 18px;
    }

    .info-table-wrapper {
      overflow-y: scroll;
      flex: 1 1 0;
    }

    .info-table {
      width: 100%;
      font-size: 14px;
    }

    .info-table td {
      padding: 5px 10px;
    }

    .info-table td:first-child {
      border-right: 1px solid #dddddd;
    }

    .info-table tr:nth-child(2n) {
      background-color: #ededed;
    }

    #mapViewContainerCollections {
      display: flex;
      flex-grow: 1;
    }

    .g-mapframe-container-norm {
      position: initial;
      top: 48px;
      left: 0;
      bottom: 4px;
      right: 0;
      display: flex;
      flex-grow: 1;
      border: none;
    }

    .g-mapframe-container-norm > iframe {
      width: 100%;
      border: none;
    }

    #container-confirm-modal {
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.2);
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;
    }

    #confirm-modal {
      width: 700px;
      height: 250px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .confirm-modal-section {
      padding: 10px;
    }

    #confirm-modal-header {
      flex: 0 0 50px;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    #confirm-modal-header > p {
      margin: 0;
      padding: 0;
    }

    #confirm-modal-body {
      flex: 1 1 auto;
    }

    #confirm-modal-footer {
      flex: 0 0 50px;
      display: flex;
      justify-content: flex-end;
    }

    .confirm-modal-button {
      border: none;
      padding: 5px;
      margin-left: 10px;
      min-width: 100px;
      border-radius: 5px;
    }

    #confirm-modal-secondary {
      background-color: white;
      border: 1px solid rgb(0, 102, 255);
      color: rgb(0, 102, 255);
    }

    #confirm-modal-primary {
      background-color: rgb(240, 27, 27);
      color: white;
    }

    #modal-close-button {
      width: 15px;
      cursor: pointer;
    }
  </style>
</div>
