<div data-dojo-attach-point="contentNode">
  <div class="g-search-pane" data-dojo-type="app/search/SearchPane">
    <div class="g-search-pane-left">
      <div data-dojo-type="app/search/SearchBox"></div>
      <div data-dojo-type="app/search/SpatialFilter"
        data-dojo-props="
          field: 'envelope_geo',
          pointField: 'envelope_cen_pt',
          allowAggregation: true,
          open: false,
          xbasemapUrl: 'http://services.arcgisonline.com/ArcGIS/rest/services/ESRI_StreetMap_World_2D/MapServer',
          map: {basemap:'streets',autoResize: true, center: [-98, 40], zoom: 3}">
      </div>
      <div data-dojo-type="app/search/DateFilter"
        data-dojo-props="
          nestedPath:'timeperiod_nst',
          field:'timeperiod_nst.begin_dt',
          toField:'timeperiod_nst.end_dt',
          open:false,
          label:'Temporal Extent'">
      </div>
      <div data-dojo-type="app/search/DateFilter"
        data-dojo-props="field:'sys_modified_dt',allowHistogram:false,label:'Date'">
      </div>
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'sys_owner_s',open:false,label:'Owner'">
      </div>
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'apiso_TopicCategory_s',open:true,label:'Topic Category'">
      </div>
      <!-- 
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'data_access_type_s',label:'Data Access Type'">
      </div> 
       -->
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'sys_metadatatype_s',label:'Metadata Type'">
      </div>  
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'contact_organizations_s',label:'Organizations'">
      </div>
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'keywords_s',label:'Keywords',props:{size:8,min_doc_count:500}">
      </div>    
    </div>
    <div class="g-search-pane-right">
      <div data-dojo-type="app/search/AppliedFilters"></div>
      <div data-dojo-type="app/search/ResultsPane"></div>
    </div>
  </div>    
</div>