<div data-dojo-attach-point="contentNode">
  <div class="g-search-pane" data-dojo-type="app/search/SearchPane">
    <div class="g-search-pane-left">
      <div data-dojo-type="app/search/PageUrlFilter"></div>
      <div data-dojo-type="app/search/SearchBox"></div>
        <div style="overflow-y: auto;max-height:  90%;">
<div id="infoSearchText">Information Search</div>
      <div  data-dojo-type="app/search/SpatialFilter"
        data-dojo-props="
          field: 'envelope_geo',
          pointField: 'envelope_cen_pt',
          allowAggregation: true,
          open: true,
          label:'${i18n.search.criteria.map}'">
      </div>


      <div data-dojo-type="app/search/DateFilter"
           data-dojo-props="
          nestedPath:'timeperiod_nst',
          field:'timeperiod_nst.begin_dt',
          toField:'timeperiod_nst.end_dt',
          interval:'year',
          open:false,
          label:'Temporal Extent (text)',
          fieldsOperator: 'should'">
      </div>

      <div data-dojo-type="app/search/TemporalFilter"
        data-dojo-props="
          nestedPath:'timeperiod_nst',
          field:'timeperiod_nst.begin_dt',
          toField:'timeperiod_nst.end_dt',
          interval:'year',
          open:false,
          label:'Temporal Extent',
          fieldsOperator: 'should'">
      </div>

     <div data-dojo-type="app/search/TemporalFilter"
           data-dojo-props="

          field:'apiso_PublicationDate_dt',

          interval:'year',
          open:false,
          label:'Publication Date',
          fieldsOperator: 'must'">
      </div>

      <!-- e.g. field:'category_cat',label:'Category',props:{size:20,min_doc_count:500} (names in app.nls.resources.js)-->

      <div data-dojo-type="app/search/HierarchyAggregation"
           data-dojo-props="field:'categories_cat',rootTerm:'science domain',
             label:'CINERGI Domain',props:{size:1000},
            extendedToolTip:'CINERGI Keywords for Science Domain'">
      </div>
      <div data-dojo-type="app/search/HierarchyAggregation"
           data-dojo-props="field:'categories_cat',rootTerm:'material',
             label:'CINERGI Material',props:{size:1000},showRoot: false">
      </div>
      <div data-dojo-type="app/search/HierarchyAggregation"
           data-dojo-props="field:'categories_cat',rootTerm:'property',
             label:'CINERGI Parameter',props:{size:1000}">
      </div>

      <!-- e.g. field:'keywords_s',label:'Keywords',props:{size:20,min_doc_count:500} -->
      <div data-dojo-type="app/search/TermsAggregation"
           data-dojo-props="field:'keywords_s',label:'Original Keywords',props:{size:200}">
      </div>
      <div data-dojo-type="app/search/TermsAggregation"
           data-dojo-props="field:'contact_organizations_s',label:'${i18n.search.criteria.organizations}'">
      </div>
        <div data-dojo-type="app/search/TermsAggregation"
             data-dojo-props="field:'contact_people_s',label:'People',props:{size:1000},
            extendedToolTip:'People presently includes metadata publishers which bubble to the top of the list'">
        </div>
      <div data-dojo-type="app/search/TermsAggregation"
           data-dojo-props="field:'apiso_TopicCategory_s',open:false,label:'Topic Category (ISO)' ">
      </div>
      <div data-dojo-type="app/search/HierarchyAggregation"
           data-dojo-props="field:'hierarchies_cat',rootTerm:'category',
             label:'All CINERGI Facets',props:{size:1000},showRoot: false">
      </div>

      <div >Metadata Properties</div>
      <div data-dojo-type="app/search/TemporalFilter"
        data-dojo-props="
          field:'sys_modified_dt',
          interval:'day',
          open:false,
          label:'Metadata Added'">
      </div>
      <!--
      <div data-dojo-type="app/search/DateFilter"
        data-dojo-props="field:'sys_created_dt',interval:'day',allowHistogram:false,label:'Created'">
      </div>
      -->
   <!--   <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'sys_owner_s',open:false,label:'${i18n.search.criteria.owner}'">
      </div>
      -->

      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'sys_metadatatype_s',label:'${i18n.search.criteria.metadataType}'">
      </div>  


      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'src_source_name_s',label:'Metadata Collection',props:{size:40}">
      </div>


      <!-- end example hierarchies -->
        </div>
    </div>
    <div class="g-search-pane-right">
      <div data-dojo-type="app/search/AppliedFilters" data-dojo-props="autoExpand:true"></div>
      <div data-dojo-type="app/search/ResultsPane"></div>
    </div>
  </div>    
</div>