<div data-dojo-attach-point="contentNode">
  <div class="g-search-pane" data-dojo-type="app/search/SearchPane">
    <div class="g-search-pane-left">
      <div data-dojo-type="app/search/PageUrlFilter"></div>
      <div data-dojo-type="app/search/SearchBox"></div>
      <div data-dojo-type="app/search/SpatialFilter"
        data-dojo-props="
          field: 'envelope_geo',
          pointField: 'envelope_cen_pt',
          allowAggregation: true,
          open: false,
          label:'${i18n.search.criteria.map}'">
      </div>
      <div data-dojo-type="app/search/TemporalFilter"
        data-dojo-props="
          nestedPath:'timeperiod_nst',
          field:'timeperiod_nst.begin_dt',
          toField:'timeperiod_nst.end_dt',
          interval:'year',
          open:false,
          label:'${i18n.search.criteria.timePeriod}'">
      </div>
      <div data-dojo-type="app/search/TemporalFilter"
        data-dojo-props="
          field:'sys_modified_dt',
          interval:'day',
          open:false,
          label:'${i18n.search.criteria.date}'">
      </div>
      <!--
      <div data-dojo-type="app/search/DateFilter"
        data-dojo-props="field:'sys_created_dt',interval:'day',allowHistogram:false,label:'Created'">
      </div>
      -->
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'sys_owner_s',open:false,label:'${i18n.search.criteria.owner}'">
      </div>
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'apiso_TopicCategory_s',open:false,label:'${i18n.search.criteria.topicCategory}'">
      </div>
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'sys_metadatatype_s',label:'${i18n.search.criteria.metadataType}'">
      </div>  
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'contact_organizations_s',label:'${i18n.search.criteria.organizations}'">
      </div>
      <!-- e.g. field:'keywords_s',label:'Keywords',props:{size:20,min_doc_count:500} -->
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'keywords_s',label:'${i18n.search.criteria.keywords}',props:{size:20}">
      </div>    
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'src_source_name_s',label:'${i18n.search.criteria.origin}',props:{size:20}">
      </div>    
    </div>
    <div class="g-search-pane-right">
      <div data-dojo-type="app/search/AppliedFilters" data-dojo-props="autoExpand:true"></div>
      <div data-dojo-type="app/search/ResultsPane"></div>
    </div>
  </div>    
</div>