
<div class="grid-container">
  <div class="column-18 pre-3">
    <div class="block-group block-group-2-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <img class="card-image" src="images/earthcube.png" alt="EC">
          <div class="card-image-caption">
            Item 1
          </div>
        </figure>
        <div class="card-content">
          <h4><a href="#">Card with Image</a></h4>
          <p class="font-size--1 card-last">Cards can have full-bleed images with optional captions.</p>
        </div>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <img class="card-image" src="images/earthcube.png" alt="EC">
          <div class="card-image-caption">
            Item 2
          </div>
        </figure>
        <div class="card-content">
          <h4><a href="#">Card with Image</a></h4>
          <p class="font-size--1 card-last">Cards can have full-bleed images with optional captions.</p>
        </div>
      </div>
    </div>
  </div>
</div>
 