<div data-dojo-attach-point="containerNode">

    <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference" data-dojo-props="target:'gmd:verticalElement',minOccurs:1,maxOccurs:1, label:'${i18nIso.EX_Extent.verticalElement}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:EX_VerticalExtent',label:''">
  
            <!-- minimumValue -->
            <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:minimumValue',label:'${i18nIso3.EX_VerticalExtent.minimumValue}'">
                <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Decimal'">
                <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
                </div>
            </div>

            <!-- maximumValue -->
            <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:maximumValue',label:'${i18nIso3.EX_VerticalExtent.maximumValue}'">
                <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Decimal'">
                <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
                </div>
            </div>

            <!-- verticalCRS-->

            <!-- verticalCRSId -->
        </div>
    </div>
  </div>