<div data-dojo-attach-point="containerNode">
    <!-- dimensionName MD_DimensionNameTypeCode -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:numberOfDimensions',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Dimension.dimensionName}'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/msr/MD_DimensionNameTypeCode"> </div>
    </div>

    <!-- dimensionSize Integer-->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:axisDimensionProperties',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Dimension.dimensionSize}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Integer'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber" data-dojo-props="minValue:0,integerOnly:true,hint:'Enter Integer Number >0'"></div>
      </div>
    </div>
    
    <!-- resolution Measure -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:cellGeometry',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Dimension.resolution}'">
     
    </div>

    <!-- dimensionTitle Free Text -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:transformationParameterAvailability',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Dimension.dimensionTitle}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'xxxx',minOccurs:0,maxOccurs:10"></div>
    </div>

    <!-- dimensionDescription Free Text -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'msr:transformationParameterAvailability',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_Dimension.dimensionDescription}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'xxxx',minOccurs:0,maxOccurs:10"></div>
    </div>


</div>