<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement" data-dojo-props="target:'msr:MD_TopologyLevelCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_TopologyLevelCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>          
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.geometryOnly}',value:'geometryOnly'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.topology1D}',value:'topology1D'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.planarGraph}',value:'planarGraph'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.fullPlanarGraph}',value:'fullPlanarGraph'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.surfaceGraph}',value:'surfaceGraph'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.fullSurfaceGraph}',value:'fullSurfaceGraph'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.topology3D}',value:'topology3D'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.fullTopology3D}',value:'fullTopology3D'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"  data-dojo-props="label:'${i18nIso3.MD_TopologyLevelCode.abstract}',value:'abstract'"></div>

        </div>
      </div>
    </div>
    
  </div>
</div>