/*******************************************************************************************************************
      jimu-theme.css defines appearance of common components and jimu/dijits, it doesn't define layout.
      User can override this css style to meet new appearance.
********************************************************************************************************************/
@import url("jimu.css");
/* css for jimu-main- */
.jimu-main-background{
  background-color: #485566;
  background-color: rgba(72, 85, 102, 0.9);
}

.jimu-main-font{
  font-family: Verdana,Arial,sans-serif;
  /*font-size: 63%;*/
}

/* css for jimu-title and jimu-subtitle */
.jimu-title{
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.jimu-subtitle{
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
}

/* css for jimu-footer */
.jimu-footer{
  font-size: 10px;
  color: #ffffff;
  font-weight: normal;
}

/* css for jimu-link */
.jimu-link{
  font-size: 14px;
  font-weight: normal;
}

.jimu-link:link, .jimu-link:visited{
  text-decoration: none;
  color: #95a2a9;
  color: rgba(255, 255, 255, 0.7);
}

.jimu-link:hover{
  text-decoration: none;
  color: #ffffff;
}

.jimu-link:active{
  text-decoration: none;
  color: #ececec;
  color: rgba(255, 255, 255, 0.9);
}

/* css for jimu-widget- */
.jimu-widget{
  font-size: 12px;
  font-weight: normal;
  color: #838383;
}

.jimu-widget-title{
  font-size: 14px;
  font-weight: bold;
}

.jimu-widget-note{
  font-size: 12px;
  font-weight: normal;
  color: #a4a4a4;
}

.jimu-widget-placeholder{
  background-color: #000000;
  filter:alpha(opacity=20);
  opacity: 0.2;
  border-radius: 4px;
  border: 1px dashed #a0acbf;
}

.jimu-widget-placeholder:hover{
  filter:alpha(opacity=40);
  opacity: 0.4;
}

.jimu-widget-placeholder .inner {
  background-color: #000;
  filter:alpha(opacity=80);
  opacity: 0.8;
}

.jimu-widget-tooltip{
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: normal;
  color: #838383;
}

.jimu-widget-offpanel-background{
  background-color: #ffffff;
  border: 0;
}

.jimu-widget-onscreen-icon{
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.jimu-widget-onscreen-icon:hover{
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.4);
}
.jimu-widget-onscreen-icon.jimu-state-selected{
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.6);
}

/* css for jimu-panel- */
.jimu-panel{
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ffffff;
}

.jimu-panel-title{
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #485566;
}

/* interaction states*/
.jimu-state-error{
  background: #e84b4b;
  color: #fff;
}

/*.jimu-panel-content{}*/

/* css for jimu-overlay */
.jimu-overlay{
  background-color: #000000;
  filter:alpha(opacity=10);
  opacity: 0.1;
}

/* css for jimu-btn */
.jimu-btn{
  background-color: #485566;
  color: #ffffff;
}

.jimu-btn:hover{
  background-color: #596d87;
  color: #ffffff;
}

.jimu-btn:active{
  background-color: #485566;
  color: #ffffff;
}

.jimu-btn.jimu-state-disabled{
  background-color: #adadad;
  color: #d8d8d8;
}

.jimu-btn.jimu-priority-secondary{
  background-color: #f5f5f5;
  color: #636363;
  border: 1px solid #cbcbcb;
}

.jimu-btn.jimu-priority-secondary:hover{
  background-color: #ffffff;
  color: #636363;
  border: 1px solid #cbcbcb;
}

.jimu-btn.jimu-priority-secondary:active{
  background-color: #ebebeb;
  color: #636363;
  border: 1px solid #cbcbcb;
}

.jimu-btn.jimu-priority-secondary.jimu-state-disabled{
  background-color: #ffffff;
  color: #d0d0d0;
  border: 0;
}

/* css for jimu-table */
.jimu-table-header{
  background-color: #efefef;
  font-size: 12px;
  font-weight: bold;
  color: #838383;
}

.jimu-table-row{
  font-size: 12px;
  color: #838383;
}

.jimu-table-row:hover{
  border: 1px solid #cbcbcb;
  font-weight: normal;
  color: #838383;
}

.jimu-table-row.jimu-state-active{
  border: 1px solid #cbcbcb;
  font-weight: bold;
  color: #838383;
}

.jimu-table-row-separator{
  border-bottom: 1px solid #cbcbcb;
}

/* css for SimpleTable dijit */
.jimu-simple-table .head-section{
  background-color: #518dca;
}

.jimu-simple-table .simple-table-title{
  color: #ffffff;
	font-size: 14px;
}

.jimu-simple-table .simple-table-row:hover{
  background-color: #edf2f5;
  color: #7989a0;
}

.jimu-simple-table .simple-table-row.jimu-state-active{
  background-color: #e3ecf2;
  color: #596679;
}

/* css for Filter dijit */
.jimu-filter .odd-filter{
  background: #eef2f5;
  border-left: 1px solid #eef2f5;
  border-right: 1px solid #eef2f5;
}

.jimu-filter .even-filter{
  background: #ffffff;
  border: 1px solid #eef2f5;
}

/* css for ItemSelector dijit */
.jimu-item-selector .signin-tip{
  color: #d6d6d6;
  font-size: 13px;
}

/* css for _ItemTable dijit */
.jimu-item-table .item-border{
	border: 3px solid #15a4fa;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

.jimu-item-table .item-thumbnail{
	background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #d2dae2;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
	background-size:cover;
  cursor: default;
}

.jimu-item-table .item-details{
  text-decoration: none;
  color: #15a4fa;
}

.jimu-item-table .jimu-state-error-text{
  font-size: 13px;
  color: #ff0000;
}

/* css for TabContainer3 dijit */
.jimu-tab3 .tab-item-td{
  color:#bdc1c8;
	border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ccc;
}

.jimu-tab3 .tab-item-td.jimu-state-active{
  color: #48494B;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 2px solid #15a4fa;
  border-bottom: 0;
}

/* css for LayerChooserFromMap dijit */
.jimu-basic-layer-chooser-from-map .jimu-state-error-text{
  color: #ff0000;
}

/* css for DrawBox dijit */
.jimu-draw-box .draw-item.jimu-state-active,.jimu-draw-box .draw-item:hover{
  background-color: #c0c0c0;
}

.jimu-draw-box .point-icon{
  background-image: url(images/draw_point.png);
}

.jimu-draw-box .line-icon{
  background-image: url(images/draw_line.png);
}

.jimu-draw-box .polyline-icon{
  background-image: url(images/draw_polyline.png);
}

.jimu-draw-box .freehand-polyline-icon{
  background-image: url(images/draw_freehand_polyline.png);
}

.jimu-draw-box .triangle-icon{
  background-image: url(images/draw_triangle.png);
}

.jimu-draw-box .extent-icon{
  background-image: url(images/draw_extent.png);
}

.jimu-draw-box .circle-icon{
  background-image: url(images/draw_circle.png);
}

.jimu-draw-box .ellipse-icon{
  background-image: url(images/draw_ellipse.png);
}

.jimu-draw-box .polygon-icon{
  background-image: url(images/draw_polygon.png);
}

.jimu-draw-box .freehand-polygon-icon{
  background-image: url(images/draw_freehand_polygon.png);
}

.jimu-draw-box .text-icon{
  background-image: url(images/draw_text.png);
}