.jimu-icon-close-8{background-position: -0px -0px;width:8px;height:8px;}
.jimu-icon-close-8.jimu-state-hover{background-position: -13px -0px;width:8px;height:8px;}
.jimu-icon-close-8:hover{background-position: -13px -0px;width:8px;height:8px;}
.jimu-icon-down-arrow-8{background-position: -0px -13px;width:8px;height:8px;}
.jimu-icon-down-arrow-8.jimu-state-hover{background-position: -13px -13px;width:8px;height:8px;}
.jimu-icon-down-arrow-8:hover{background-position: -13px -13px;width:8px;height:8px;}
.jimu-icon-left-arrow-8{background-position: -0px -26px;width:8px;height:8px;}
.jimu-icon-right-arrow-8{background-position: -0px -39px;width:8px;height:8px;}
.jimu-icon-right-arrow-8.jimu-state-hover{background-position: -13px -39px;width:8px;height:8px;}
.jimu-icon-right-arrow-8:hover{background-position: -13px -39px;width:8px;height:8px;}
.jimu-icon-add{background-position: -0px -60px;width:16px;height:16px;}
.jimu-icon-add.jimu-state-disabled{background-position: -63px -60px;width:16px;height:16px;}
.jimu-icon-add.jimu-state-hover{background-position: -21px -60px;width:16px;height:16px;}
.jimu-icon-add:hover{background-position: -21px -60px;width:16px;height:16px;}
.jimu-icon-black-close{background-position: -0px -81px;width:16px;height:16px;}
.jimu-icon-checkbox{background-position: -0px -102px;width:16px;height:16px;}
.jimu-icon-checkbox.jimu-state-hover{background-position: -21px -102px;width:16px;height:16px;}
.jimu-icon-checkbox:hover{background-position: -21px -102px;width:16px;height:16px;}
.jimu-icon-checkbox.jimu-state-disabled{background-position: -63px -102px;width:16px;height:16px;}
.jimu-icon-checked.jimu-state-disabled{background-position: -0px -123px;width:16px;height:16px;}
.jimu-icon-checked.jimu-state-hover{background-position: -21px -123px;width:16px;height:16px;}
.jimu-icon-checked:hover{background-position: -21px -123px;width:16px;height:16px;}
.jimu-icon-checked{background-position: -0px -123px;width:16px;height:16px;}
.jimu-icon-close{background-position: -0px -144px;width:16px;height:16px;}
.jimu-icon-close.jimu-state-hover{background-position: -21px -144px;width:16px;height:16px;}
.jimu-icon-close:hover{background-position: -21px -144px;width:16px;height:16px;}
.jimu-icon-delete{background-position: -0px -165px;width:16px;height:16px;}
.jimu-icon-delete.jimu-state-hover{background-position: -21px -165px;width:16px;height:16px;}
.jimu-icon-delete:hover{background-position: -21px -165px;width:16px;height:16px;}
.jimu-icon-delete.jimu-state-disabled{background-position: -63px -165px;width:16px;height:16px;}
.jimu-icon-down{background-position: -0px -186px;width:16px;height:16px;}
.jimu-icon-down.jimu-state-disabled{background-position: -63px -186px;width:16px;height:16px;}
.jimu-icon-down.jimu-state-hover{background-position: -21px -186px;width:16px;height:16px;}
.jimu-icon-down:hover{background-position: -21px -186px;width:16px;height:16px;}
.jimu-icon-edit{background-position: -0px -207px;width:16px;height:16px;}
.jimu-icon-edit.jimu-state-hover{background-position: -21px -207px;width:16px;height:16px;}
.jimu-icon-edit:hover{background-position: -21px -207px;width:16px;height:16px;}
.jimu-icon-edit.jimu-state-disabled{background-position: -63px -207px;width:16px;height:16px;}
.jimu-icon-error{background-position: -0px -228px;width:16px;height:16px;}
.jimu-icon-folder-close{background-position: -0px -249px;width:16px;height:16px;}
.jimu-icon-folder-close.jimu-state-hover{background-position: -21px -249px;width:16px;height:16px;}
.jimu-icon-folder-close:hover{background-position: -21px -249px;width:16px;height:16px;}
.jimu-icon-folder-open{background-position: -0px -270px;width:16px;height:16px;}
.jimu-icon-folder-open.jimu-state-hover{background-position: -21px -270px;width:16px;height:16px;}
.jimu-icon-folder-open:hover{background-position: -21px -270px;width:16px;height:16px;}
.jimu-icon-search{background-position: -0px -291px;width:16px;height:16px;}
.jimu-icon-search.jimu-state-hover{background-position: -21px -291px;width:16px;height:16px;}
.jimu-icon-search:hover{background-position: -21px -291px;width:16px;height:16px;}
.jimu-icon-search.jimu-state-disabled{background-position: -63px -291px;width:16px;height:16px;}
.jimu-icon-setting{background-position: -0px -312px;width:16px;height:16px;}
.jimu-icon-setting.jimu-state-hover{background-position: -21px -312px;width:16px;height:16px;}
.jimu-icon-setting:hover{background-position: -21px -312px;width:16px;height:16px;}
.jimu-icon-setting.jimu-state-disabled{background-position: -63px -312px;width:16px;height:16px;}
.jimu-icon-white-close{background-position: -0px -333px;width:16px;height:16px;}