<div data-dojo-attach-point="containerNode">
  

     <!-- fees free Text -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:fees',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_StandardOrderProcess.fees}'">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
          <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
     </div>

     <!-- plannedAvailableDateTime DateTime -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:plannedAvailableDateTime',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_StandardOrderProcess.plannedAvailableDateTime}'">
         
     </div>

     <!-- orderinginstructions Free text -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:orderinginstructions',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_StandardOrderProcess.orderinginstructions}'">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
          <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
     </div>

      <!-- turnaround Free Text -->
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:turnaround',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_StandardOrderProcess.turnaround}'">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
          <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
     </div>

     <!-- orderOptionsType RecordType -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:orderOptionsType',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_StandardOrderProcess.orderOptionsType}'">
          
     </div>

     <!-- orderOptions RecordType -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrd:orderOptions',minOccurs:0,maxOccurs:'unbounded',label:'${i18nIso3.MD_StandardOrderProcess.orderOptions}'">
          
     </div>

</div>