<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:MD_Identifier',label:'mcc:MD_Identifier'">
    
    <!-- authority -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:authority',minOccurs:0,maxOccurs:1,preferOpen:true,label:'mcc:authority'">
      <div data-dojo-type="app/gxe/types/iso-19115-3/cit/CI_Citation" data-dojo-props="label:'cit:CI_Citation'"></div>
    </div>

    <!-- code -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:code',minOccurs:0,preferOpen:true,label:'mcc:code'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>

    <!-- codeSpace -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:codeSpace',minOccurs:0,preferOpen:true,label:'mcc:CodeSpace'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>

    <!-- version -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:version',minOccurs:0,label:'mcc:version'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>

    <!-- description -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:description',minOccurs:0,label:'mcc:description'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
    </div>

  </div>
</div>