<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mrl:LI_Lineage',label:''">
  
    <!-- attributes set CharacterString -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:attributes',minOccurs:1,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ScopeDescription.attributes}'">
       
    </div>

    <!-- features set CharacterString -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:features',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ScopeDescription.features}'">
    
    </div>
    
    <!-- featureInstances set CharacterString -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:featureInstances',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ScopeDescription.featureInstances}'">
     
    </div>

    <!-- attributeInstances set CharacterString -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:attributeInstances',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ScopeDescription.attributeInstances}'">
     
    </div>

    <!-- dataset  CharacterString -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:dataset',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ScopeDescription.dataset}'">
    
    </div>

     <!-- other  CharacterString -->
     <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'mcc:other',minOccurs:0,maxOccurs:1,preferOpen:false,label:'${i18nIso3.MD_ScopeDescription.other}'">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="display:none;" data-dojo-props="target:'xsi:type',value:'lan:PT_FreeText_PropertyType'"></div>
      <div data-dojo-type="app/gxe/types/iso-19115-3/gmd/PT_FreeText" data-dojo-props="label:'',minOccurs:0,maxOccurs:10"></div>
     </div>
   

  </div>
</div>