<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:transferOptions',showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_DigitalTransferOptions'">
      
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:onLine',
          label:'${i18nIso.MD_DigitalTransferOptions.onLine}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
          data-dojo-props="target:'gmd:CI_OnlineResource',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'gmd:linkage',
              label:'${i18nIso.CI_OnlineResource.linkage}'">
            <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
              data-dojo-props="target:'gmd:URL'"></div>
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-attach-point="_forInvokable"
            data-dojo-props="target:'gmd:description',label:'${i18nInspire.distributionInfo.online.description}'">
            <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmx:Anchor',showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/form/Attribute" 
                   data-dojo-props="target:'xlink:href',showHeader:false,fixed:true,value:'http://inspire.ec.europa.eu/metadata-codelist/OnLineDescriptionCode/accessPoint'"></div>
            </div>
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
            data-dojo-props="target:'gmd:function',
              label:'${i18nIso.CI_OnlineResource.sFunction}',minOccurs:0">
            <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/CI_OnlineFunctionCode"></div>
          </div>                          
        </div>
      </div>
      
    </div>
  </div>    
  
</div>